[2018-10-30 12:14] allan2coder opened #1 "may i ask how to use it please?"

[2018-10-30 14:24] styfle opened #2 "Implicit dependency on lit-html and unpkg"
[Line #1](https://github.com/matthewp/haunted/blob/e38b1b268f8871626905ebec85b77838e83c10cd/haunted.js#L1) imports from a URL which seems like it could be bad practice, especially if the user wants to pin a version of `lit-html` instead of using the latest version.

Instead, maybe the API could be changed to accept the `lit-html` object or maybe just the `render()` function to maintain [low-coupli

[2018-10-30 14:30] matthewp commented on #2
Yeah, it's too bad we don't have [package-name-maps](https://github.com/domenic/package-name-maps) yet. Anyways, I knew that this was sort of weird, it was just for the initial version.

I was thinking of making it be `../node_modules/lit-html/lit-html.js`. That way if you are using npm locally it will use your version. That covers your case, right?

And then probably having a built version pointi

[2018-10-30 14:49] styfle commented on #2
That might work.

If you do make `lit-html` an explicit dependency, then I think you would want to export `html` to avoid the problem that I am explaining (mismatched versions).

So the API could look like this:

[code]

That way, the user doesn't really need to know about `lit-html` the same way a Node.js user doesn't really need to know about V8.

However, I still prefer the example in my origin

[2018-10-30 14:52] styfle opened #3 "main: index.js does not exist"
https://github.com/matthewp/haunted/blob/e38b1b268f8871626905ebec85b77838e83c10cd/package.json#L5

There is no `index.js` file

[2018-10-30 15:05] matthewp commented on #3
Yeah, I think we'll build that file as part of #2

[2018-10-30 15:12] matthewp commented on #2
Exporting `html` is a great idea for people who only want the one dependency.

I prefer keeping it explicit because we *do* depend on lit-html. I don't think it's wrong to import it. But if we change it to `../node_modules/lit-html/lit-html.js` that will fix the pinning problem you pointed out. And it will make it work for local npm installs and bundler use. So double win. I'll do this either toni

[2018-10-30 16:42] justinfagnani commented on #2
If you just import from `lit-html`:

[code]

Then your module will work from unpkg with the `?module` query param:

[code]

And it'll work with WebPack, Rollup, Parcel, `polymer serve`, TypeScript, and a lot of other tools that support node module resolution. Then it'll of course work with package name maps when they arrive.

The problem with importing `../node_modules/lit-html/lit-html.js` is tha

[2018-10-30 21:09] matthewp commented on #2
I don't mind slightly more inconvenient local development of haunted. I can just host my webserver inside of the `haunted` folder and it will work.  I'd prefer that over depending on special servers to use it with browser modules.

I'm willing to create as many builds as is necessary since we're just talking about replacing the specifier. For now I think I'm going to go with:

* __haunted.js__ - `

[2018-10-31 11:40] matthewp opened #6 "Attributes"
Haunted doesn't yet support attributes. I feel like this is a missing feature! Ideally you would be able to do:

[code]

Since the functional component receives the element instance as its argument you can destruct to get props. This works for props today but not for attributes.

Options:

# useAttrs

My first thought was to have a `useAttrs(["first", "last"])`. To define attributes. This feels th

[2018-10-31 14:54] aaronshaf opened #7 "Specify major version of lit-html and export it"

[2018-10-31 15:54] justinfagnani commented on #6
Why not put an `observedAttributes` property on the function?

[2018-10-31 16:42] matthewp commented on #7
Sounds reasonable, will make this change. Thanks!

[2018-10-31 16:43] matthewp commented on #6
Oh interesting, I hadn't thought of that, I like it!

[2018-10-31 21:08] #7 closed

[2018-10-31 21:21] matthewp commented on #6
I'm going to go with this suggestion for now. I like it because it's the easiest one to deprecate in the future if we find a better way. If we were to go with `useAttrs()` or an options bag that would be more difficult to do away with.  Plus the solution isn't bad at all.

[2018-10-31 21:36] #6 closed

[2018-10-31 22:12] matthewp commented on #1
We now have a starter app. The readme explains how to use this. https://github.com/matthewp/haunted#getting-started . Hopefully this leads you in the right direction. 😀

[2018-10-31 22:12] #1 closed

[2018-11-01 11:59] matthewp opened #12 "Make useEffect support the memoized params"
https://reactjs.org/docs/hooks-reference.html#conditionally-firing-an-effect

[2018-11-01 12:00] matthewp opened #13 "Add useMutationEffect"
This one can be useful: https://reactjs.org/docs/hooks-reference.html#usemutationeffect

[2018-11-01 21:21] #12 closed

[2018-11-02 10:15] askbeka opened #17 "Add useContext(Context): ContextValue"
I think this might need context implementation first of all.

I have been thinking about this for quite a while:), but was struggling with design of the API,
I think hooks can simplify the API and finally we can have context in DOM.

As a solution `CustomEvents` can be used, since the `CustomEvents` are synchronous and you can pass `detail` object to it, parent provider could listen to an event an

[2018-11-02 12:20] matthewp commented on #17
Not bad! I kind of skipped over context thinking it wasn't really practical in a web component world but you might have convinced me.

One thing though, what listens for the event in order to provide the context? I think instead of putting it on a div or something we might need to create our own element which does the listening.  Maybe like:

[code]

I'm not sure what MyContext even would be here.

[2018-11-02 13:36] askbeka commented on #17
Creating custom element for it crossed my mind too, but unlike React's Provider, custom element provider will be a real DOM node, which does not have visual value, only required because events need to be listened. But in this case thats the only choice we have if we want to use DOM and DOM events to solve context issue, which I think is just perfect and much better that React's solution.

By provi

[2018-11-02 18:05] justinfagnani commented on #17
Can't you install the listener directly on the host element itself, without an extra element in the template?

[2018-11-02 18:40] matthewp commented on #17
I think you can do that with the way @askbeka implemented it. If you haven't seen the PR: https://github.com/matthewp/haunted/pull/18

@askbeka This should work right?

[code]

Since `component` takes a base class as the second argument. `component(render, BaseElement)`.

[2018-11-02 19:48] askbeka commented on #17
@matthewp Yes, you are right, should work. But I don't see much sense in that, since Provider right now is limited to value property.

PR focuses on max similarity with React's API, which is of course might not be an ideal solution.
Thats why it is in WIP. And there are multiple issues I have found, during implementing it:

- Seems like teardown of effects are not run when element is unmounted.
-

[2018-11-02 20:00] askbeka commented on #17
@justinfagnani Hi, I got the idea about using customEvents, from one of your talks on Dependency Injection:)

[2018-11-02 21:32] matthewp commented on #17
@askbeka Max compatibility with React's API is an idea I support, so we can worry about making it work with the host another time.

As for effects not running on unmount, that's likely a bug and should be done in the disconnectedCallback.  I might look into that myself if you don't get to it first.

[2018-11-02 21:48] matthewp commented on #17
I have a PR for that bug: https://github.com/matthewp/haunted/pull/19

[2018-11-02 21:55] matthewp commented on #17
@askbeka I merged that fix. Hopefully you see this and don't waste too much time trying to fix it. You can just rebase your branch with master. 😀

[2018-11-04 15:40] matthewp opened #21 "Support boolean attributes"
Currently the attribute `<some-el open>` will reflect as an empty string. We should have special support for these boolean attributes to turn them into booleans.

[2018-11-04 15:54] #21 closed

[2018-11-04 16:52] matthewp opened #24 "Providing an empty array to useEffect should cause the effect to be ran only once."
Currently it causes it not to be ran at all.

[code]

[2018-11-04 17:00] #24 closed

[2018-11-04 17:08] matthewp opened #26 "Renderer function should be called with the element as the this"
Currently the renderer receives the element as the first and only argument. It makes sense to also provide it as the `this` value. This way you can destruct for properties in the argument and use `this` for the element if needed for imperative usage. For example:

[code]

[2018-11-04 17:17] askbeka commented on #26
This will assume that renderer is not an arrow function.

On Sun, 4 Nov 2018, 18:08 Matthew Phillips <notifications@github.com wrote:

[2018-11-04 23:55] askbeka opened #27 "Make use of directives"
Most of the time application developers do not need shadowDom encapsulation, since they consume ready components and don't need custom elements for each reusable block of code, they can just create functions that return templates, but hooks will be used for sure.

In order to achieve this, lit-html directives could be used, and some internal base Element needs to be created with life cycle hooks,

[2018-11-05 00:41] matthewp commented on #27
Using the concept outside of custom elements is something @hypercubed brought up as well. All this library really needs is an object to hold hook state and the logic that's in _update which runs the phases. I don't see why we couldn't extract that out and have some alternative starting-point API as a sibling of `component`. I'm sure what that would be called or what it would look like exactly thou

[2018-11-05 22:08] matthewp commented on #26
Fixed by #28

[2018-11-05 22:08] #26 closed

[2018-11-06 03:50] jwharrie opened #29 "Minor edits to readme.md"
There are a few edits that can improve clarity for readme.md.

[2018-11-06 13:20] #29 closed

[2018-11-06 22:08] matthewp commented on #27
@Hypercubed @askbeka I have a branch that decouples the custom element code from the reactive container part. I created a new api `mount` that can be used to mount a function to an element, without the use of components.

[code]

This isn't *super* useful though since it's just a single component.

With the reactive container logic decoupled it should now be easy to add some sort of directive supp

[2018-11-06 22:55] Hypercubed commented on #27
@matthewp Is `virtual` a lit-html directive somewhat equivalent to my withHooks directive?  If so would the following work:

[code]

BTW... For my `withHooks` implementation I'm tying state to the `NodeParts` object.  By design `lit-html` uses the same `NodeParts` for a given DOM node for every render.

[2018-11-06 23:03] askbeka commented on #27
This is also what I had in mind in terms of API.

I foresee people going back and forth converting from component to virtual and vice-versa, especially when there are so many things unclear in the beginning. In my opinion important thing to focus on might be, ease of converting components, which involves consistency in behavior and compatibility with hooks supported by library (ideally and eventua

[2018-11-06 23:33] Hypercubed commented on #27
In that case, I think the `withHooks` would be better naming for that directive... same as Vue.  I've been tempted to publish my `withHooks` directive myself... but I'm not actually using `lit-html` at the moment (but plan to).  If you implement it as part of Haunted I will contribute.  And feel free to take whatever you need from here: https://stackblitz.com/edit/typescript-lit-html-hooks-gyrkjs?

[2018-11-06 23:36] Hypercubed commented on #27
I don't recall if I shared this: https://stackblitz.com/edit/typescript-lit-html-hooks-jm1uhk

Note that when parent template rerenders, the children's state persists.  This is the result of tying state to the `NodePart`.

[2018-11-07 00:08] askbeka commented on #27
@matthewp Great, looking forward.
[code]
first argument has to be TemplateResult, so this is possible

[2018-11-09 23:58] askbeka opened #33 "Something I am not quite getting in update schedules"
I want to clarify motivation behind current implementation of updates in components.
As I understand getting template result is done in RAF for batching then next RAF is scheduled for commit or DOM updates, then next RAF for effect hooks.

There are few things that I think might cause problems, but may be that I am not seeing the whole picture:
- read and commit could happen in the same phase sinc

[2018-11-10 01:56] matthewp commented on #33
Yeah, so like I said in that other thread not much thought was put into the scheduler. I just knew that I wanted reads and writes to be in their own tasks because that's been a good practice going back to fastdom. https://github.com/wilsonpage/fastdom

Then, later, I realized effects needed to happen a frame after commit. That's really all the thought that went into it.

I think what we should do

[2018-11-10 02:11] askbeka commented on #33
Thank you

No it is not blocking, just something I was curious about. I thought that I
have missed on some news or insight in browser render optimisation:)

On Sat, 10 Nov 2018, 02:56 Matthew Phillips <notifications@github.com wrote:

[2018-11-10 11:32] blikblum commented on #33
Regarding usage of requestAnimationFrame (raf), is there any of the concerns pointed in this [article](https://github.com/evancz/react-angular-ember-elm-performance-comparison/blob/master/readme.md) or in this older [React raf library](https://github.com/petehunt/react-raf-batching/issues/8) relevant here?

I did some tests with inputs and did not notice anything wrong.

Maybe it would be worth as

[2018-11-10 12:11] askbeka commented on #33
Thats maybe because browser vendors moved input updates into render cycle
after raf.
Polymer uses microtaks for batching prop updates. There is no mechanism to
synchronise components. Eventloop runs microtasks untill none left unlike
tasks blicking the eventloop from doing anything else, this way render is
batched too.

On Sat, 10 Nov 2018, 12:32 Luiz Américo <notifications@github.com wrote:

[2018-11-11 18:42] #27 closed

[2018-11-20 15:46] #17 closed

[2018-11-23 14:15] crisward opened #34 "IE11"
A bit of a longshot, but has anyone got this working in IE11, perhaps with babel transpiling? Got it working in Edge, but IE11 seems to trip up on the template literals. I'm using it with lit-html as per examples.

[2018-11-23 16:33] matthewp commented on #34
Let me know what you find out. If you're only using virtual components it should work in any browser lit-html works in.

[2018-11-24 15:14] Hotell commented on #34
AFAIR lit-html still doesn't work in IE11

[2018-11-24 17:46] crisward commented on #34
I'll give it a go with hyperHTML, they claim IE9>, though I'm not sure how when using template literals. Intrigued to find out.

[2018-11-25 00:07] crisward commented on #34
Tried with both lit and hyper, with polyfills and babel transpiling. Still have IE11 issues.

Lit does claim ie11 support - https://lit-html.polymer-project.org/, so in theory it should work.

Would love to see a working sample if anyone else can get it working in IE11. With all the transpiling and polyfills the JS bundle leaps up in size, and no doubt performance probably plummets, but having pro

[2018-11-25 01:12] askbeka commented on #34
Can you share how you transpile and build configs. Babel and webpack config
if you use webpack or other tools config

On Sun, 25 Nov 2018, 01:08 Cris Ward <notifications@github.com wrote:

[2018-11-26 19:47] crisward commented on #34
Added it here.
https://github.com/crisward/haunted-ie11

[2018-11-27 12:31] Hotell commented on #34
awesome news ! can you maybe send a PR with tweaked docs ? 👌

[2018-11-27 13:49] crisward commented on #34
Also found an issue with useEffect as IE11 doesn't have Symbols. I've hacked a fix, I'll do a quick pull request, but I can understand if you prefer to keep them.

[2018-11-28 13:18] matthewp commented on #34
Yeah, if someone wouldn't mind updating the README and putting a section about IE11 support (that the polyfill above is needed) that would be fantastic. Probably in the [Use section](https://github.com/matthewp/haunted#use)

[2018-11-29 22:11] matthewp commented on #34
Fixed by #36. Thanks @crisward !

[2018-11-29 22:11] #34 closed

[2018-11-30 21:58] Hypercubed opened #37 "Something like useHost...."
Sometimes we may need to access the raw element within the render function.  This is easy enough when using a real component (`this`) but when the render is a arrow function, `this` is undefined.  Do you think it would be useful to add a `useHost` (name TBD) hook?  Something like:

[code]

[2018-12-03 13:04] matthewp commented on #37
The element is also passed as the first argument:

[code]

[2018-12-03 17:21] Hypercubed commented on #37
Yep.... looks liek you have this covered.  I missed it in the code.  Thanks!

[2018-12-03 17:21] #37 closed

[2018-12-04 07:15] wgottschalk opened #38 "Incompatabilities between lit0.13 and lit0.14"
I tried running one of the demos and it took me a second to understand what was going wrong. I used the following code:
[code]
and got this as my render output:
![image](https://user-images.githubusercontent.com/11728959/49424753-647a9680-f750-11e8-8e30-e025455ca142.png)

Switching to `hauntedhtml` works fine. From what I can tell, it looks like lit is on v0.14 while haunted is using 0.13. Not sur

[2018-12-04 07:16] wgottschalk commented on #38
Also note lit's release page https://github.com/Polymer/lit-html/releases

[2018-12-04 12:02] matthewp commented on #38
Thanks for the report. I'll upgrade to lit 0.14 now. It will be a breaking change fwiw.

[2018-12-04 12:17] matthewp commented on #38
This was released as Haunted 3.0

[2018-12-04 12:17] #38 closed

[2018-12-06 06:12] orlov-vo commented on #17
What if I want build a app only with virtual components - without web components. How to use a context? Maybe need to add directives for `lit-html`?

[code]

[2018-12-06 11:44] matthewp commented on #17
We haven't added context for virtual components yet. Maybe create an issue to discuss?

[2018-12-06 15:01] orlov-vo opened #40 "Context and virtual components"
Now we have a React-like context (see issue  #17). But we can't use it in an application built with virtual components only (without web components).

I think we should provide some directives for `lit-html` after creating context. However, we need to discuss and choose the comfortable api for it...

An abstract example of usage:

[code]

[2018-12-06 15:02] orlov-vo commented on #17
@matthewp I created the issue #40 and updated the example

[2018-12-06 18:50] matthewp commented on #40
@askbeka Can you remember what the problem was with context in virtual components?

[2018-12-07 03:32] askbeka commented on #40
Yes, problem is with unsubscribing from context changes, since virtual components do not have a knowledge when they are removed, neither do parts. One of the way could be to put text or comment element and check if it still present in DOM in interval.

I am workings through couple of ideas, for DOM traversal, to find virtual provider, from virtual consumer, which are abstractions of collection of

[2018-12-08 02:10] matthewp commented on #40
Can we use a MutationObserver to know when it's removed?

[2018-12-11 14:34] moebiusmania opened #41 "attributes doesn't seems to work"
hi, I really appreciate what `haunted` is achieving, but writing a small codepen ( https://codepen.io/moebiusmania/pen/ZVGbRP?editors=1011 ) from an example taken from the readme it seems that the attributes value never reach the main function 😢... I'm missing something ?
tnx

[2018-12-11 15:48] matthewp commented on #41
Ah, it looks like we haven't documented this yet.  You have to set a `observedAttributes` property on the function.

https://codepen.io/matthewp/pen/dwoXGy?editors=1011

Will keep this issue open to get it documented.

[2018-12-11 16:09] moebiusmania commented on #41
thanks @matthewp , that's awesome!
I think it would be nice in the future to have something like this:

[code]

what do you think?

[2018-12-11 16:18] matthewp commented on #41
Yeah I thought about that sort of thing before. See https://github.com/matthewp/haunted/issues/6 . Went with this option because it was easier for now. But can definitely revisit in the future.

[2018-12-14 11:41] askbeka opened #42 "virtual component uses part to associate with container"
Since, container for virtual component is [mapped to part](https://github.com/matthewp/haunted/blob/master/src/virtual.js#L21) in cache, same container is reused for other component:
[code]
I made [demo](https://codesandbox.io/s/mowl273pxx) reproducing the issue

I haven't done deep dive into solving it, but from first sight `container` can be mapped to `renderer` instead of `part`

[2018-12-14 12:44] askbeka commented on #40
@matthewp Not really. since directive do not have their own parts, parts can be reused across directives.
consider:
[code]
they will use the same part and the same marker nodes, which means that when Component is no longer used markers will not be removed.

Exmaple above will not work with virtual components, I have addressed it in [this issue](https://github.com/matthewp/haunted/issues/42)

Only

[2018-12-17 03:12] rawrmonstar opened #43 "useState hook should accept updater function"
To be compatible with the React Hooks API, `useState` should be able to accept a function that accepts the previous value and returns the next value.

https://reactjs.org/docs/hooks-reference.html#functional-updates

[2018-12-18 12:03] matthewp commented on #43
Closed by #44

[2018-12-18 12:03] #43 closed

[2018-12-19 00:46] rawrmonstar opened #46 "Ensure build before releasing"
I think the last 2 releases weren't built with the merged changes:
  - 3.2.0 doesn't seem to include `useCallback`
  - 3.1.0 doesn't seem to use the `useState` updater function.

I think it might be a good idea to add a `preversion: npm run build` script in the `package.json` that will run a new build whenever `npm version [ major | minor | patch | etc ]` is run to bump the version.

[2018-12-19 01:53] matthewp commented on #46
Ah nice, will definitely add this.

[2018-12-19 12:16] #46 closed

[2019-01-11 18:29] ruslanegorov opened #49 "haunted doesn't work with latest lit-html"
it always renders to `[object Object]`
https://codepen.io/ruslanegorov/pen/roQxxr?editors=1010

you might need to upgrade `lit-html` (to `1.0.0-rc.2`)

[2019-01-11 19:33] matthewp commented on #49
Happy to do this, but I wouldn't want to release a major version of Haunted for a RC version of lit. Happy to create a new major prerelease though, if someone wants to send a PR.

[2019-01-11 22:58] #49 closed

[2019-01-11 23:00] matthewp commented on #49
This is available as `haunted@next` now.

[2019-01-13 17:11] luwes opened #51 "Starter app breaks on Chrome"
The starter app is not working on my end on Chrome 71 / Mac.

<img width="1314" alt="screen shot 2019-01-13 at 12 09 58 pm" src="https://user-images.githubusercontent.com/360826/51088328-4c713c00-172c-11e9-8868-09042dac5688.png">

[2019-01-13 17:12] luwes opened #52 "How can custom methods be added to the element?"
I was wondering how one would add custom methods / api to the custom element? Thanks

[2019-01-14 11:42] matthewp commented on #51
Something changed with Codesandbox and it appears they always transpile to ES5 now :( . I'll look into it.

[2019-01-14 11:45] matthewp commented on #52
The `component` method returns a class. You can extend this and add your methods/props or whatever else you need. Setting props will cause the functional component to be recalled.

[code]

[2019-01-16 07:55] dakom opened #53 "example with hyperHTML?"
I'm wondering how this fits in with the hyperHTML ecosystem... do I want to basically just use [lighterhtml](https://github.com/WebReflection/lighterhtml) ?

[2019-01-16 13:03] matthewp commented on #53
There's an example with hyperHTML here: https://codepen.io/WebReflection/pen/pxXrdy?editors=0010

I'm not familiar with lighterhtml so I'm not sure if it works with that or not.

[2019-01-16 13:56] dakom commented on #53
So sticking with that hyperHTML example and making it one level deeper...

This works: https://codepen.io/dakom/pen/robLMg?editors=0011

But this does not: https://codepen.io/dakom/pen/GPLqOM?editors=0011

That second example only wraps the child component in `virtual`... which I believe is necessary according to the docs, and for it to also have hooks?

[2019-01-16 14:38] dakom commented on #53
ah okay thanks for the clarification :)

Feel free to close this issue btw

[2019-01-16 14:49] matthewp commented on #53
No problem, wish I could be more help but I am not super familiar with hyperHTML.  I know that the author has his own hooks library so maybe that would be more your speed. I'm not positive if it has something equivalent to `virtual` or not, however.  Anyways, cheers 🍻

[2019-01-16 14:49] #53 closed

[2019-02-11 18:31] felipeegasneris opened #55 "haunted doesn't manage "dashed" name attributes"
☝️ when i want to create a Web Component with a, for example, `<my-wc first-order="342"></my-wc>` the attribute `first-order` cannot be used like an `MyWc.observedAttributes = ['first-order']` i think the "dashed attributes" are the regular way to name webcomponents attributes

[2019-02-11 22:14] matthewp commented on #55
Why doesn't dashed attributes work, what problem do you see?

[2019-02-12 13:52] felipeegasneris commented on #55
please see my example, https://codepen.io/felipe-egas/pen/vbrxKP?editors=1010

[2019-02-12 15:01] jpray commented on #55
The attribute exists, it just isn't converted to camelCase.  Here is a [working codepen](https://codepen.io/johndanielpray/pen/YBvQgO).

[code]

[2019-02-12 15:20] felipeegasneris commented on #55
thanks a lot @jpray ! it's working for me

[2019-02-12 15:23] matthewp commented on #55
Let's keep this open, we should probably convert dash cased attributes to camelCased props.

[2019-02-12 15:31] jpray opened #56 "Support for not using ShadowDOM and guidance on contributing new hooks"
This library is my favorite thing since lit-html/hyperHTML and a joy to work with.  Major kudos for creating it.  I have 2 questions:

1) I don't use ShadowDOM.  It was easy adding an option to make this optional (https://github.com/jpray/haunted/commit/044da1ed744284c38eddd646befe9589197f29dc).  If I add tests and documentation, is this something you'd consider?

2) I've created a number of hooks

[2019-02-12 15:49] jpray commented on #56
Chewing on #2 a bit more, I'm wondering if this project could benefit from a mono repo approach and the @haunted npm scope.  Then lots of hooks could be published under @haunted/<hookname>., and probably all of the hooks in the base package could be published separately then.

[2019-02-12 19:43] matthewp commented on #56
@jpray I would absolutely accept a PR! As for docs, I assume you want this for IE11 support. There's currently some stuff in the Use section about IE11: https://github.com/matthewp/haunted#use . Probably if you are going to add some more, adding a new heading for IE11 would be a good idea.

2. My aim is to only include the same hooks that React provides. A haunted-hooks or something would indeed b

[2019-02-14 15:58] matthewp commented on #56
Fixed by #57

[2019-02-14 15:58] #56 closed

[2019-02-14 18:36] matthewp commented on #55
Fixed by #58

[2019-02-14 18:36] #55 closed

[2019-02-15 08:46] Gee5ive opened #60 "Typescript typings"
Are there any plans to add Typescript definition files to the project any time soon?

[2019-02-15 11:18] jpray commented on #60
@matthewp, I can take a swing at that if you want.  I'm fairly new to Typescript so I would need a close peer review, but otherwise I'll just follow the style from the lit-html project.

[2019-02-15 11:33] Gee5ive commented on #60
@jpray not sure how closely the hooks in haunted are modeled after react in terms of implementation, but they've recently added type definitions for them if that would we of any help. https://github.com/DefinitelyTyped/DefinitelyTyped/blob/834caef36e4fe5c3c4677debe586434000822596/types/react/index.d.ts#L800

[2019-02-15 11:34] jpray commented on #33
I'd be up for constructing some performance and "making sure things happen in an expected way" tests. @askbeka, any guidance on what a good test case would include to show the potential downsides of the current approach?

[2019-02-15 11:52] jpray commented on #51
I forked it and got it working with a couple changes.  https://codesandbox.io/s/l4yj5kno5z
The first was to add custom-elements-es5-adapter.  The second was to do
[code]
instead of
[code]
the need for which appears to be related to https://github.com/matthewp/haunted/issues/49

[2019-02-15 12:38] matthewp commented on #60
Yup, fine with me. The only thing is I don't want the project to be compiled to ES5. So Assuming it can remain at the same ES version as it currently is, no problem.

Can we note a before/after file size? That could be another blocker if it goes up a lot, but hopefully it does not.

[2019-02-15 12:45] matthewp commented on #51
I updated it on my end, thanks for the pointers @jpray !

The ES5 stuff is a bit annoying, not sure why all of these editors require ES5...

[2019-02-15 12:45] #51 closed

[2019-02-15 13:30] dredzone commented on #42
@matthewp first, thanks for a great library. Any resolution on this bug or thoughts what is the good solution may be?

[2019-02-15 14:23] jpray commented on #60
Without writing the source in Typescript, I think we can just add a haunted.d.ts file that has all the type definitions and a `"typings": "haunted.d.ts",` entry in the package.json.  Will try it out...

[2019-02-15 16:37] matthewp commented on #42
I haven't thought of a solution yet. I don't use virtual components a whole lot to be honest, maybe someone who uses them more will have a good idea for this...

[2019-02-15 17:53] askbeka commented on #42
I have gave it a  thought and tried out couple of ideas, but there is something about how lit-html directives work that does not allow having virtual components, and I propose to ditch it for now.

But there is an alternative of course, that is already [in place](https://codesandbox.io/s/kkj462mjw5)
(seems haunted has a bug. it does not update on setState.)

Only difference of course is that those

[2019-02-15 17:57] askbeka commented on #42
I prose to ditch virtual part and document better how you can use above described method.
With that method you have to have "Real" component defined somewhere up in the tree.
Which might be also a good  practice, since you want to isolate your app from outside. But not maybe use Real components everywhere, you can just use a function to separate out your code

[2019-02-15 18:39] matthewp commented on #42
I think ditching virtual components would be a drastic measure, people really like that part of Haunted. If this is the only problem I don't think that's enough to say we can't make it work. I'll try to free up some time to take a closer look into this issue myself.

[2019-02-16 09:18] jpray commented on #33
I constructed a pen that illustrates the issue: https://codesandbox.io/s/1z53k10vj7

[2019-02-16 11:03] jpray commented on #33
I tried swapping out the RAF for a microtask and it did make everything render in a single frame, but when working with a crazy big number of children and mutations there is, of course, a tradeoff with FPS dropping below 60.  Is it an all or nothing decision, or is there a possible hybrid approach?

[2019-02-16 12:57] jpray commented on #33
Probably switching it to a microtask is the way to go.  DBMonster benchmark still performs well with that.  I'll upload a couple perf test pages today or tomorrow to demonstrate...

[2019-02-17 12:24] jpray commented on #33
https://jpray.github.io/haunted-tests/

@matthewp, what do you think?

[2019-02-17 12:34] askbeka commented on #33
One thing to note. Users should use promise from webcomponents polyfill and
do not load their own. Since webcomponents polyfill adds mutation observer
for older browsers instead of default behaviour of settimeout.
https://github.com/webcomponents/webcomponentsjs/blob/master/src/promise.js

On Sun, 17 Feb 2019, 13:24 John Daniel Pray, <notifications@github.com>
wrote:

[2019-02-17 16:59] matthewp commented on #33
@jpray you are amazing. Thanks for creating these perf comparisons. I think we should possibly move on this. Do you have a commit for this change? I assume you are doing it similar to [preact](https://github.com/developit/preact/blob/master/src/util.js#L30)?

One problem I see is that in the Promise.resolve version it stops rendering while scrolling. That makes sense because Promise.resolve is ess

[2019-02-17 21:54] dustinwtf opened #62 "When loading web.js, it should treat lit-html as a sibling"
It loads:

```'../node_modules/lit-html/lit-html.js';```

Rather than:

```'../lit-html/lit-html.js';```

Since the two modules are assumed to be in the `node_modules` directory.

[2019-02-18 11:10] matthewp commented on #62
Thanks, I think this dates back to when this was a scoped package. I'll fix it.

[2019-02-18 11:18] #62 closed

[2019-02-18 11:20] matthewp commented on #62
This was fixed in https://github.com/matthewp/haunted/releases/tag/v4.1.3, thanks for reporting!

[2019-02-18 12:16] jpray commented on #62
Sorry to be dense, and to comment on a closed issue, but I am not understanding the use case for web.js.  I read https://github.com/matthewp/haunted/issues/2, but I don't see why
index.js
[code]
and haunted.js
[code]
aren't enough on their own.  @matthewp, can you clarify for me?

[2019-02-18 12:35] matthewp commented on #62
Tried to explain in the readme: https://github.com/matthewp/haunted#builds . Perhaps I should expand on that there. web.js is for use in the web browser (where bare specifiers like `lit-html` don't work) in the case where people want to use their own local version of lit-html and not get the latest 1.x like you'll get with unpkg. Or if you just prefer to work offline.

[2019-02-18 12:39] matthewp opened #64 "Website"
I started working on a website a while back. It's available in the [site branch](https://github.com/matthewp/haunted/tree/site).  it looks like below:

![screen shot 2019-02-18 at 7 36 34 am](https://user-images.githubusercontent.com/361671/52951539-05d8b800-3350-11e9-9944-e6dea54ae2d4.png)

----

I don't think this should be that big of a site. I was thinking of adding a small section below this

[2019-02-18 12:40] matthewp commented on #64
I own the domain __ahaunted.house__ (tried to get haunted.house but owned by a squattor wanting 10k+ for it) if we ever get around to finishing this.

[2019-02-18 13:03] jpray commented on #62
Seems a fragile and unoptimized setup, but I understand the use case now. Thanks!

[2019-02-18 13:24] jpray commented on #64
I like it.  I do wonder whether it makes more sense to push all documentation into the readme or have a documentation (examples and API) part of the website.  I'm kinda leaning towards the latter.  A couple other items that maybe could use some thought:
- lit-html and hyperHTML, currently the library definitely is more aligned with lit-html, with secondary support for hyperHTML.  I'd love for it t

[2019-02-18 13:45] matthewp commented on #62
Well, it's optimized for what it's optimized for 😃

[2019-02-18 14:31] matthewp commented on #64
@jpray all good points, but I think most of it doesn't pertain to the website. Would you mind filing separate issues to discuss those points?

[2019-02-18 15:58] jpray commented on #64
Will do.  Regarding the website,  I do think it needs documentation and examples hosted there.  Otherwise there'd be no point linking to it from the github repo (since it would basically just be itself a link to the github repo).  Especially with the domain name, people searching google will be far more likely to find the github page before they find the website.  I don't think it would take long

[2019-02-18 16:13] jpray opened #65 "To implement React Hooks API or to be based/inspired by it?"
There are a number of React hooks that aren't implemented in haunted (useRef, useImperativeHandle, useLayoutEffect, useDebugValue).  Personally I am ok with this as I think there are substantive differences between web components and React that should influence the hooks patterns for each.

If the goal of haunted is to be "React's Hooks API implemented for web components", when we are kinda stuck

[2019-02-18 16:37] jpray opened #66 "Try to be agnostic of rendering engine, try to remove hard dependency on lit-html"
If haunted can't be completely agnostic, then at least we should have first-class support for hyperHTML/lighterhtml and make it so people can use that library without pulling in lit-html also.  But if we can be completely agnostic by making the setup/initialization slightly more verbose, then I think its worth it.

Before getting into the weeds of the implementation details, I'd be interested to h

[2019-02-18 16:46] askbeka commented on #66
I am not sure about hyperHTML. lit-html is probably will be defacto in
template strings rendering. I dont see any requests for hyperHTML in this
repo, except from the author of himself.

On Mon, 18 Feb 2019, 17:37 John Daniel Pray, <notifications@github.com>
wrote:

[2019-02-18 20:33] jpray commented on #33
Opened https://github.com/matthewp/haunted/pull/67 with preact microtask implementation (Thanks Preact!)

@matthewp, I wasn't able to produce what you reported about updates not happening when scrolling.  The closest thing I could see was that on the nested children example, it takes >1 sec to render the page so if you scroll down quickly you'll get a jagged feeling as the next child pops in every

[2019-02-19 01:31] jpray commented on #66
I understand marrying oneself to a framework/library has some benefits, but its so much nicer to be agnostic if you can be without complicating the interface or implementation too much.  Web components themselves don't dictate a rendering engine, so it seems ashame that a "hooks for web components" library would lock people into one.  I think it will greatly improve the shelf life of this project

[2019-02-19 11:31] matthewp commented on #66
The goal is to support the [template instantiation](https://github.com/w3c/webcomponents/blob/gh-pages/proposals/Template-Instantiation.md) api when/if that ever happens. In that case any library that uses that API should work. lit-html, to my understanding, is built around it.

I don't want to make it harder for the common case. You should still be able to do:

[code]

And that should continue to

[2019-02-19 14:51] jpray commented on #66
Thank you for the info.  I wasn't aware of that proposal... I'll read up on it.  Unless the lit-html API changes, the above API isn't achievable without the hard dependency, so I'm thinking we might need have a separate package, potentially using a monorepo approach.  If starting from scratch, might have proposed `haunted` for base agnostic API, and `haunted-lit` for the current API.  In order to

[2019-02-23 23:57] jpray commented on #65
Along similar lines I'll ask this question... Would it be terrible if setState() returned the value being set instead of nothing?  I'm consuming a vanilla router library and it would be nice to do something like
[code]

I'm open to other ideas too.  I'd just prefer for the first render to be meaningful instead of a throw away render waiting for something like useEffect() to run.

[2019-02-24 17:13] matthewp commented on #65
Hey, sorry I missed this question earlier. The way I see Haunted is to mimic React's "modern" APIs. So hooks, Context... maybe eventually Suspense. So as far as hooks are concerned, I think we should adopt theirs as closely as possibly, where it makes sense too.

In this particular case, does setState return anything from React?

[2019-02-24 19:29] jpray commented on #65
setState() in react doesn't return anything.  I do have a slight improvement on the above approach that doesn't require setState() to return a value.

Still has smells, but getting better:
[code]

In order to handle destroying the router when this component is disconnected I would like something where I can return a value like useMemo() but also provide a teardown method like useEffect().   I don'

[2019-02-24 22:21] matthewp commented on #65
Do we need useRef maybe?

[2019-02-24 22:48] askbeka commented on #65
Router has to be a top level feature. A route can be injected through
props. Using useContext maybe?
It reduces amount of sideeffects and allows relative routes defined by tree
structure.

If you are going to iimplement something like that react-router can be a
good place to get some inspiration

On Sun, 24 Feb 2019, 23:21 Matthew Phillips, <notifications@github.com>
wrote:

[2019-02-25 19:06] jpray commented on #65
@matthewp, not sure if useRef would be helpful.  To accomplish the most common use case of assigning an element to a reference, it seems maybe lit-html would need some additional functionality added.

@askbeka, Thanks for the feedback.  Injecting the actual router is one way to go, and it seems that most router libraries do want to own the whole URL.  Another possibility is to inject the baseRoute

[2019-02-26 05:05] lucaseverett opened #69 "Virtual component never unmounts"
I've found an issue when using virtual components. The teardown function returned from useEffect is never invoked. Also, state remains after a virtual component is unmounted.

The following sandbox uses the same function as both a real component and a virtual component.

When showing/hiding the real component, the count is reset, as expected.
However, when showing/hiding the virtual component, the

[2019-02-28 19:14] nicolasparada commented on #69
Oh, so that was it.
I was having problems to integrate haunted with my router and showing a loader between page navigations. The loader didn't disappear on a second time.

[2019-02-28 23:22] matthewp commented on #69
@nicolasparada Just out of curiosity, why are you using virtual components? What's the appeal to you? Again, just curious because I don't use them personally :)

Thanks for the sample @lucaseverett! I'll take a look at this tomorrow. Can't commit on a fix but having a sample makes it 1000x easier!

[2019-02-28 23:24] jpray commented on #60
I'm about 50% done with this, but I do have a couple issues I may need help with.  Here's one:

[code]

Anyone know a fix for this?

[2019-02-28 23:46] nicolasparada commented on #69
Not much. I'm not calling these components with the tag name but with the function. I don't need the connected/disconnectedCallback if I'm using useEffect. And I still cannot get around shadow DOM. I like my CSS to cascade.

Virtual components are more simple 🙂

[2019-02-28 23:49] nicolasparada commented on #69
I'm mean... I'm doing all in JavaScript so is no much difference doing:
[code]
Than:
[code]

[2019-02-28 23:50] nicolasparada commented on #69
I don't need the tag name is what I'm trying to say.

[2019-03-01 00:26] matthewp commented on #60
I do not know much TypeScript :( Do they have a Slack or something where you can ask questions?

[2019-03-01 00:27] matthewp commented on #69
@nicolasparada Would you be more included to use components if you didn't have to define a tag name?

[code]

Where `define` is a new thing that doesn't exist yet :)

[2019-03-01 01:16] nicolasparada commented on #69
Not really. `withHooks` is all I need 🙂

[2019-03-01 01:30] matthewp commented on #69
I think I have a fix for this. Working on test. Might be tomorrow before its in.

[2019-03-01 01:47] matthewp commented on #42
I fixed #69 so I have my brain wrapped around virtual components a little more than I had. So I might take a look at this issue soonish and see if I can come up with a solution.

[2019-03-01 02:01] matthewp commented on #69
Fix is in #70 which I plan to release tomorrow morning if there are no objections.

[2019-03-01 02:28] jpray commented on #60
Good suggestion.  Found the answer on Gitter:
[code]
should have a PR ready soon...

[2019-03-01 12:01] matthewp commented on #69
Fixed in 4.1.4

[2019-03-01 12:02] #60 closed

[2019-03-01 18:35] nicolasparada commented on #69
I have a very funny bug. The thing is... it doesn't work when I try it locally, but it works when I upload it to netlify.
[github.com/nicolasparada/reprod-haunted-routing](https://github.com/nicolasparada/reprod-haunted-routing)

[2019-03-01 18:40] nicolasparada commented on #69
Yet it works perfectly fine when using `component()`.

[2019-03-01 19:49] matthewp commented on #69
Ok, let's reopen, i'll try to take a look at that one too.

[2019-03-02 03:36] aelbore opened #73 "initialize the property from attribute value"
[code]

[code]

the count property will have default value of 10

stackblitz
https://stackblitz.com/edit/typescript-p7v7ds

[2019-03-02 03:42] aelbore commented on #73
i found out that i can do this (it will initialize the count from attribute), but is there a way to automatically get the value of the attribute?
[code]

[2019-03-02 04:16] jpray commented on #73
[code]

[2019-03-02 04:51] aelbore commented on #73
@jpray yes it works but when i click the button it says "setCount" is not a function

[2019-03-02 10:31] jpray commented on #73
Assuming you don't want/need the updated value to be reflected in the attribute, then you can do this.

[code]

[2019-03-02 14:47] aelbore commented on #73
@jpray yes i agree about the use of useState, thanks appreciate your help.
i will try this. i currently working on a testing tool on top of karma, jasmine/mocha without zero configuration. so my plan is to be compatible to all javascript specially with web components.

[2019-03-06 12:09] jpray opened #74 "Type coercion and other property goodies"
LitElement has a lot of flexibility in how properties are handled: https://lit-element.polymer-project.org/guide/properties

The following options are available:
- converter: Convert between properties and attributes.
- type: Use LitElement’s default attribute converter.
- attribute: Configure observed attributes.
- reflect: Configure reflected attributes.
- noAccessor: Whether to set up a default

[2019-03-06 12:11] jpray commented on #73
Here is a better example of skipping useState and just using the attribute/property to maintain the value: https://codesandbox.io/s/z275vomrqp . The only smell comes from having to manually convert the string attribute to a number property.  I just submitted #74 to track that.  Can this one be closed?

[2019-03-06 13:05] matthewp commented on #73
I think so, thanks for the sandbox 👍

[2019-03-06 13:07] matthewp commented on #74
Pinning this one so others see it. I have some thoughts on this but will be on vacation for the rest of the week. Plan to come back to it after that.

[2019-03-06 13:10] matthewp commented on #74
A little preview: I've been thinking something like React's propTypes might be appropriate for us. In fact, might prop-types even work? I have never tried using it in a non-React setting.

Reflecting I agree is a need, we can look into how to do that.

[2019-03-06 15:35] aelbore commented on #73
Yes we can close this, thanks for the sample code. Maybe we can hide manually assigning the observedAttibutes, again thanks 👍

[2019-03-06 15:35] #73 closed

[2019-03-07 14:55] lucaseverett commented on #69
I'm still seeing an issue with my original example, if the Main component is used as a virtual component with lit-html render instead of mounted as a real component.

https://codesandbox.io/s/23m15p5rwy

The issue I'm seeing is that the teardown effect isn't ran on the first unmount of the virtual component, but subsequent mount/unmount works as expected.

The state is being reset, but if you watc

[2019-03-07 14:57] lucaseverett commented on #69
There is also something weird happening if the same virtual component is used multiple times.

https://codesandbox.io/s/1qkzn946m7

[2019-03-07 15:13] lucaseverett commented on #69
By the way, Andrea is having some similar issues with Neverland.

https://github.com/WebReflection/neverland/issues/20

[2019-03-11 12:28] matthewp commented on #69
Been on vacation, will try to take a look in the next few days.

[2019-03-14 15:19] geocine opened #75 "add option to disable shadowDom for createContext"
I know it is not possible right now, so I just copied it like so

[code]

[2019-03-14 17:35] matthewp commented on #75
createContext should be able to take a second argument that takes the component options just like `component()` does.

[2019-03-14 18:34] askbeka commented on #75
In my opinion Consumer component always has to render into light DOM. Just
like react behaves. I left it that way because there was no option to
render to light DOM before.

Users will always expect a template that they see at author time to be in
light dom since they might want to style it etc. And shadow dom has to be
hidden in component implementation.

On Thu, 14 Mar 2019, 18:35 Matthew Philli

[2019-03-14 18:36] askbeka commented on #75
So in other words, your implantation has to replace current one

On Thu, 14 Mar 2019, 19:34 Beknar Askarov, <beknaraskarov@gmail.com> wrote:

[2019-03-14 18:39] askbeka commented on #75
Consumer and Provider have to be virtual components, but since there is now
teardown functioning properly and other bugs with virtual components they
are components right now

On Thu, 14 Mar 2019, 19:35 Beknar Askarov, <beknaraskarov@gmail.com> wrote:

[2019-03-14 19:13] gugadev opened #76 "Unable to use with Puppeteer"
I have some lit-element components what I'm migrating to haunted and works great, with the exception that cannot be tested using puppeteer.

[code]

Researching  about this, I found the following note in puppeteer docs:

I understand what serialization is, but I don't understand how is related to a DOM element. Can someone explain me a bit please?

PD: LitElement components works good.

[2019-03-14 20:17] matthewp commented on #76
Hi, I doubt this is related to Haunted. Happy to help if I can though. I'm not sure why a LitElement would be serializable but a Haunted element to not be.

If you're just attempting to test that the element exists can you return a boolean instead?

[code]

Notice the `!!`.

[2019-03-15 16:39] migudev commented on #76
@matthewp Yeah, I'm using that wey. It is a matter of curiosity. Thanks for the support and the lib. 👍

[2019-03-15 16:41] migudev commented on #64
what about using new .dev domains? haunted.dev is available! 🍺

[2019-03-20 07:52] sunesimonsen opened #78 "Boolean attribute behavior confusing"
The current boolean attribute behavior might be intentional, but I find it really confusing that something that is used a string attribute turns into a boolean attribute when the value is an empty string:

![boolean attribute](https://user-images.githubusercontent.com/90802/54667689-3ea1b380-4aed-11e9-8fbd-450561992b24.gif)

It could be that I just need to use some other mechanism that I don't kno

[2019-03-20 11:28] matthewp commented on #78
An attribute without an empty value has a value of an empty string. This is how we detect boolean attributes.

[code]

[code]

You probably don't want to bind an input's value directly to an attribute. Instead you might want to convert empty strings to false.

[2019-03-20 11:29] matthewp commented on #78
Actually, I guess the problem you're seeing is that it was a string attribute but becomes a boolean attribute. I guess we could maybe fix this by checking the old value and if the old value was a string then leave it as a string. Would that fix your issue?

[2019-03-20 16:47] sunesimonsen commented on #78
Yes that is the problem I'm seeing, but I think the fix sounds a little magical. I guess that is why lit-element has a concept the property type: https://lit-element.polymer-project.org/guide/properties

Let me try to think about it, I'll get back to you soon.

[2019-03-20 16:48] sunesimonsen commented on #78
By the way - the library it really awesome, exactly the right level of convenience, size and power.

[2019-03-20 17:06] matthewp commented on #78
There's an issue https://github.com/matthewp/haunted/issues/74 to discuss property types and coercion, etc. I'm just thinking about what is the right solution with the way Haunted currently works.

[2019-03-20 19:45] sunesimonsen commented on #78
@matthewp I think something like property descriptors would be appropriate. But I would probably try to make it simpler than lit-element that is becoming quite bloated. So I would probably just have a collection of property descriptors that take a name and returns a descriptor that can do the coercion:

[code]

If you want more you can always pass data with the property binding in lit-html if that

[2019-03-20 19:52] sunesimonsen commented on #66
Looking through the code it seems like that is not really any reason to export html and render from haunted. That just create a coupling that is not really needed. Right now that dependency uses unpkg, so it is also hard for to consumer to control the version of lit-html. So I would prefer if that export was just removed from the library (my bundler downloads the exported version as well as mine a

[2019-03-20 19:55] sunesimonsen commented on #66
Sorry I can see that I missed an actual import of render in core.js, so it is actually being used. So my above comment doesn't hold up.

[2019-03-20 20:57] matthewp commented on #78
Keeping this issue open for now as I think making the property not be switched from a string to a boolean is a good way to go. Property discussion will go in the other issue. Thanks for commenting!

[2019-03-20 21:37] sunesimonsen commented on #74
Using Reacts prop-types might be hard as they only offer validation. They are functions that doesn't reflect the information that you enter into them. You can't even call them directly:

[code]

Another issue is that I don't think you want the same composability and and flexibility for what will essentially have to be serializable to a string.

So I think it makes sense to provide a separate imple

[2019-03-21 00:51] matthewp commented on #74
That not bad. Fwiw I'd like to make this a separate module to prevent extra bundle size for people not using it.

[2019-03-21 00:55] matthewp commented on #74
The thing that gives me pause is that it's unfortunate for every view library to have its own separate typed property lib. Couldn't this be done as a class mixin that any WC library could use?

[2019-04-06 21:47] nikitapilgrim opened #80 "bundle size"
Why is the library size so big?
haunted - 4.9 kb with gzip
lit-html - 3.3kb gzip/lighterhtml 5.8kb
--------------------
for comparison Preact 3.5kb
what is the advantage?

[2019-04-07 13:17] matthewp commented on #80
Haunted includes lit-html in it's bundle size. It's a way to create components using the Hooks pattern and using lit-html for templating.

[2019-04-07 13:19] matthewp commented on #80
If you want to compare to Preact you'd want to include Preact, preact/hooks, and htm.

[2019-04-09 22:09] chase-moskal commented on #80
@nikitapilgrim

nah mate, 5 KB is awesome :fire:

[compare](https://gist.github.com/Restuta/cda69e50a853aa64912d) that with

- React 16.2.0 + React DOM — `31.8K`
- Angular 2 — `111K`
- Vue 2.4.2 — `20.9K`

[2019-04-10 01:27] nikitapilgrim commented on #80
5kb is a lot for this functionality. It is necessary to remove the lit-html, as a dependency. If we consider that the library implements the hooks for the standard web components and hyperHTML or lit-html. Is it possible Reduce the weight of the library by 60% +

[2019-04-10 01:38] nikitapilgrim commented on #80
Invalid categories for comparison. I propose to compare with
Omi.js - 7K
Rax.js - 7.1K
Preact - 3.5-4K
Hyperapp - 1-2K

[2019-04-10 02:16] chase-moskal commented on #66
i'm confused

the readme says *"React's Hooks API but for standard web components and hyperHTML or lit-html."*

however this issue indicates that haunted doesn't support hyperHTML

which is it?

[2019-04-10 02:29] chase-moskal commented on #80
why do you think so?

i don't think that's necessary, why is that important when it's already so tiny?

i agree, haunted should be render engine agnostic, or at least allow us to control which version of lit-html is being used

i think your question is, "how do i use hyperhtml instead of lit-html?"

i think hyperhtml is a feature enhancement that should be added, see #66

[2019-04-10 02:35] chase-moskal commented on #80
haunted is very comparable to these other tiny libraries, i don't get what the problem appears to be?

@nikitapilgrim — are you sure you're not beginning to micro-optimize?

[2019-04-10 11:39] matthewp commented on #66
It does support both, for now at least.

[2019-04-10 11:41] matthewp commented on #80
Preact is not comparable in functionality. You want Preact + preact/hooks + htm.

[2019-04-10 12:58] nikitapilgrim commented on #80
I am writing cloud computing. Functions are limited in weight, additional code execution time === higher cash costs.
Thanks for the library. If I have free time, I can help with optimization.

[2019-04-10 20:35] chase-moskal commented on #66
ah, i was initially confusing `hyperHTML` and `lighterHTML` — haunted currently supports `hyperHTML` [(codepen demo from the readme)](https://codepen.io/WebReflection/pen/pxXrdy?editors=0010) — haunted does NOT yet support `lighterHTML`, and is currently tightly coupled with `lit-html`

----

@matthewp — i've been experimenting with making haunted agnostic, removing the lit-html dependency and sup

[2019-04-10 21:24] chase-moskal commented on #80
@nikitapilgrim

on the clientside, cdn servcies like unpkg or jsdelivr are willing to pay the bills for you: just load haunted (and anything else) via https://unpkg.com/haunted@4.2.1/index.js

on the serverside, you're running a whole node runtime and all of the libraries associated with that, i think haunted would surely be the smallest piece of the puzzle... i don't have experience writing these

[2019-04-10 23:35] matthewp commented on #80
I'm not sure there's a huge market for minified builds of libraries any more, almost everyone does that themselves in their own build system. If you are using Haunted through unpkg you're probably deploying to an environment where the savings aren't super important anyways. I'd prefer not to further complicate the already complicated build process we have.

[2019-04-10 23:38] matthewp commented on #66
That's cool. I would just say that I'm pretty strongly against the idea of making Haunted harder for the most common case; using lit-html and component() to create a custom element. I'm very enthusiastic of ideas that decouple without sacrificing that ease of use for the common case. So I don't want some sort of configuration to be a requirement. But I think there's room for both. Even if it means

[2019-04-11 00:05] chase-moskal commented on #66
wholeheartedly agreed! :beers:

[2019-04-11 01:44] jpray commented on #66
This is where my head is these days.

https://codesandbox.io/s/7vw2q5xyx

Please forgive the presumptuous title of "Haunted2".  It's a POC showing one way of breaking apart the core hooks concepts from the component implementation and using them within a separate haunted-lit-element base class.

A couple features to point out:
- the core hooks code is small
- I get to use LitElement's awesome attr

[2019-04-11 23:44] chase-moskal commented on #66
hello friends, i have refined my efforts making haunted agnostic, without making any breaking changes, in my new pull request #81

[2019-04-20 15:56] asafigan commented on #69
Hey, I have a fork with [tests](https://github.com/asafigan/haunted/blob/fix-virtual/test/test-virtual.js#L171) that demonstrate these issues and more.

I have found in @lucaseverett's 2 counter example that if you
1. hide the first counter
2. increment the second counter
3. hide the second counter
4. unhide the second counter

It will show 1 instead of the expected 0. I made a test for this but i

[2019-04-20 17:20] jpray commented on #69
@matthewp, do you think you'll be able to resolve these issues?  A sound virtual component w/ hooks feels out of reach to me.

[2019-04-20 20:41] asafigan commented on #69
I just spent a long time pointing around with the virtual implementation. I am not convinced that an effect hook is possible for virtual components in lit-html. I can't figure out how to get a reference to the actual dom node for a virtual component.

When looking at what part gives you, it's not helpful. `part.startNode` is the first child of the node that the component will be inserted into. You

[2019-04-22 09:20] noahlaux opened #82 "Support lazy initial state from useState"
@see https://reactjs.org/docs/hooks-reference.html#lazy-initial-state

[2019-04-22 10:32] matthewp commented on #69
Thanks for the research @asafigan!

[2019-04-22 11:06] matthewp commented on #82
Yep, good one!

[2019-04-30 14:59] askbeka commented on #66
One point in being agnostic,

If it is fully agnostic, of template library.
Can it be also that one could use JSX?
And create another React?

[2019-04-30 15:16] jpray commented on #66
JSX, sure.  I hope you are joking about creating another React.   I think we still have the assumption that we are using custom elements at the end of the day.  WebReflection's augmentor could be used to create hooks for another React though...

[2019-05-08 13:05] balupton opened #85 "Please add the `package.json:module` ESM entry point to support pika"
I'm using lit-html and [pika](https://www.pikapkg.com) in an upcoming project, and would like to use Haunted. However, pika only supports ESM packages, which this project is, however there is no `module` field pointing to the ESM entry. Could you please add it. No need to bundle anything with pika.

[2019-05-08 17:25] matthewp commented on #85
That was merged. I can't release at the moment, feel free to bug me to release this later if you can remember :)

[2019-05-13 06:29] Mateiadrielrafael opened #86 "Error in readme"
I was looking at the readme, and i saw this:
[code]

Why is it calling component 2 times? I think it should only call it once!

[2019-05-13 10:52] matthewp commented on #86
Yup, we can get rid of the second one. Good catch.

[2019-05-16 10:46] jdin opened #87 "LitElement Support?"
Hi @matthewp

First of all thanks a lot for your library.
I am using it now in my project and I see a great potential.

I have a question / proposal.

I wanted to combine `haunted` with `LitElement` but of course it does not work if you just do something like:
[code]
(That was my first attempt :)).

Then I have studied the source code to understand the logic and came up with the following:
[code]

[2019-05-16 11:20] matthewp commented on #87
Thanks @jdin !  It's cool what you're doing.  From the class perspective, I think instead of modifying the class Haunted creates you can simply extend and override the parts you need. For example (pseudo-code):

[code]

Basically you are just providing the hooks that LitElement expects and forwarding things that Haunted expects. Am I right so far? If so then I think it's a matter of formalizing th

[2019-05-16 11:21] matthewp commented on #87
Also, if you happen to wrap this up in another package I'd be happy to link from the readme here.

[2019-05-16 16:57] jdin commented on #87
Hi @

The biggest problem that I have faced is that LitContainer has to use internal Haunted functions that are not available from outside. And it makes it impossible to extend Haunted without recompilation.

As soon as I have time I will push my changes to a fork, so you will see the full picture....

[2019-05-16 19:30] jdin commented on #87
Hi @matthewp

I have just pushed my changes to this [fork](https://github.com/jdin/haunted) (see `lit-element` branch). So you can check it.
The changes are mostly:
 - a new file `lit-component.js`
 - `haunted.js` exports a new function component implementation with an alias

To make the life easier I have also made a [pull request](https://github.com/jdin/haunted/pull/1/files)

As you can see it

[2019-05-17 11:34] matthewp commented on #87
I don't want to implement LitComponent in Haunted.  I've looked at your code but do not completely understand yet why a new container is needed. I'll look more into that and get back with you.  I am excited by this possibility! 😃

[2019-05-17 11:38] matthewp commented on #87
@jdin Can you explain the use case a bit more? What does combining Haunted and LitElement give you? Do you have a LitElement base class with some functionality you want to have with functional components? Can you possibly provide a little example of how the usage of this feature would look like?

[2019-05-17 11:40] matthewp commented on #85
This was released in 4.3.0: https://github.com/matthewp/haunted/releases/tag/v4.3.0

[2019-05-17 11:40] #85 closed

[2019-05-17 12:06] jdin commented on #87
Hi, @matthewp

Thank you for your interest and your will to help!

We use LitElement and some customizable extensions based on LitElement. What I want is, indeed, to be able to use React Hooks API and functional components but based on LitElement not only HtmlElement as it is in Haunted at the moment.

Something like this:

[code]

By using new LitContainer I am using our enhanced LitElement rende

[2019-05-17 12:11] matthewp commented on #87
@jdin Thanks, I'd like a little more on the "customizable extensions based on LitElement" part. From your example it doesn't seem like this `some-component` element is really taking advantage of any of the features LitElement provides. Or is it? Which features are you getting out of LitElement in this example?

I ask these to help better come up with a good API for this, not that I doubt there's v

[2019-05-17 12:29] jdin commented on #87
@matthewp
There are some class mixins built on top of LitElement (similar to [this one](https://github.com/ing-bank/lion/blob/master/packages/core/src/ElementMixin.js), but we have much more!).
And it would be really nice if we can use those class mixins with functional approach on the top.

[2019-05-17 16:48] balupton commented on #85
cheers!

[2019-05-18 09:04] ceigey opened #88 "Typing for `component` appears incorrect"
Given the following example on the readme:
[code]

... the following typing in index.d.ts seem incorrect:
[code]

Specifically, I would expect the arrow function passed to `component` in the example to have the following type:
[code]

... which will cause a type error because `Property 'name' does not exist on type 'HTMLElement'. ts(2339)`.

Assuming any arbitrary parameters can be defined for a f

[2019-05-18 10:25] jpray commented on #88
Thanks for catching this.  Would you be okay with the following?

[code]

[2019-05-18 14:09] matthewp commented on #87
@jdin Thanks, can you give a small example of how that mixin is used (I couldn't find one). What I'm wanting to do is to create a little demo of using LitElement and its features. With that demo it will make it easier to understand how Haunted can fit in with it.

This may sound like a unnecessary process but I think it's always better to really understand the use-case of a feature before starting

[2019-05-19 07:18] Mateiadrielrafael commented on #88
Maybe <T extends HTMLElement> and then use the T?

[2019-05-20 11:10] jdin commented on #87
@matthewp
Have a look here in [storybook](https://lion-web-components.netlify.com/?path=/story/localize-system-localize--lit-component). Localization maybe is a good example of a mixin which is used overall.
Let me know if it is clear or you need more information!

[2019-05-20 11:17] jdin commented on #87
It would be so nice if we could use LocalizeMixin smth like:
[code]

[2019-05-20 20:39] sunesimonsen opened #89 "Support the delegatesFocus option when creating shadow DOM"
See https://developers.google.com/web/fundamentals/web-components/shadowdom#focus

[2019-05-24 10:58] #89 closed

[2019-05-25 01:13] jpray commented on #88
@Mateiadrielrafael is there any benefit to doing `renderer: <T extends HTMLElement>(el: T)` instead of `renderer: (el: HTMLElement & any)`?  Thanks...

[2019-05-25 05:51] ceigey commented on #88
Hmm, I think I missed something by not reviewing the code, so I'll update my idea of what the type should be.

[code]

The only real change from my first go at it is adding `this: HTMLElement | ShadowRoot` to `renderer`'s type.

**Below's my thought process, in case I've made any mistakes or further misunderstandings:**

----
In the original example, all that function needs to be passed is an obje

[2019-05-26 06:35] chase-moskal commented on #88
@ceigey — this looks correct to me, but i know typescript more than haunted's internals

so long as these assumptions are also correct
- the renderer function's `this` should be the component's root html element, whether that be a shadow root or a light-dom html element -- makes sense to me
- the renderer function's first arguments is a `props` object -- soudns good to me
- the signature of the `p

[2019-05-27 16:04] matthewp commented on #88
@chase-moskal It should indeed return a custom element type. @jpray had some difficulties getting that to work which is why it's currently Function, but if you can fix it that would be great.

[2019-05-30 17:56] felipeegasneris opened #92 "Error in safari mobile 10.3"
Hi, I'm building a component and testing it on safari mobile 10.3 and I getting this error: `TypeError: The Element.shadowRoot getter can only be used on instances of Element` on this line:` this._container = new Container(renderer, this.shadowRoot, this);` do you know why is this error? I need to make works haunted on Safari 10.3, please help me :(

[2019-05-30 18:03] matthewp commented on #92
Thanks for reporting. We'll figure it out. Sounds like `this` is not an element. That's odd. What is `this`? there, can you inspect that?

[2019-05-30 18:42] felipeegasneris commented on #92
inspecting this, I get: `this: "TypeError: The Node.ownerDocument getter can only be used on instances of Node"`

[2019-05-30 21:37] felipeegasneris commented on #92
any clue on that @matthewp ?

[2019-05-31 11:44] matthewp commented on #92
Can you give me a minimal example so that I can take a look? I don't think that version of Safari supports modules so my examples I have don't run on it. I guess you probably need a bundled app.  If you can give me a minimal example I'll try to debug it.

[2019-06-02 16:43] idoros opened #93 "Typescript error with context"
Exporting context throws a Typescript error when setting the [--declaration
-d flag](https://www.typescriptlang.org/docs/handbook/compiler-options.html). This is needed in order to create typed context that can be imported into dependent projects (generate the `.d.ts` files for the published project).

Example:
[code]

Will fail with: `Exported variable 'MyContext' has or is using name 'Context' f

[2019-06-02 22:13] chase-moskal commented on #93
yes, `Context` should be exported :+1:

i think it's worth launching a PR for this

[2019-06-04 12:03] #93 closed

[2019-06-08 16:08] stevenvachon commented on #2
If supporting other renderers such as hyperHTML is to continue, I think that there should be no dependency on lit-html; instead requiring it to be defined as part of a configuration. The current documentation causes confusion that only digging into the source code can clarify.

[2019-06-08 16:09] stevenvachon commented on #2
@matthewp

[2019-06-08 16:12] stevenvachon opened #95 "Show bundled file size in readme"
It's important, I think, if the goal is to communicate that this can replace React in more ways than function.

[2019-06-08 19:39] stevenvachon opened #96 "Benefits of virtual?"
I'm not sure what the advantage of:
[code]

…is over:
[code]

…when used in this context:
[code]

[2019-06-10 11:03] matthewp commented on #96
I don't use it personally, I think one of the main reasons people like it is to avoid the web component polyfills. And not creating an element in the tree. But you're right that a function serves the latter purpose and can even have its own hook.

Maybe @askbeka would like to chime in here with other reasons.

[2019-06-10 11:04] matthewp commented on #2
@stevenvachon you might want to take a look #81.

[2019-06-10 11:07] matthewp commented on #95
Yep, good point. I think there's some badges out there that automate this sort of thing too.

[2019-06-10 14:00] stevenvachon commented on #95
My experience with those automated badges is that they show the package size and not the bundled size. Because of this, I manually update a custom badge's text (via a URL within the readme) for my personal projects.

[2019-06-10 14:11] matthewp commented on #95
@stevenvachon Thanks! Do you have an example where you do this?

[2019-06-10 14:18] stevenvachon commented on #95
@matthewp the readme for https://github.com/stevenvachon/scrolling-menu

[2019-06-11 04:24] chase-moskal opened #98 "How to import haunted — in the future!"
hello friends, i absolutely love the way the javascript ecosystem is evolving, and there are a lot of emerging ideas — so please pitch in with your thoughts about these best practices and changes to haunted that i'm proposing

this proposal calls for a major version bump, as it involves some important changes to the way haunted is packaged and imported

## let's imagine using haunted, but in the f

[2019-06-11 12:22] matthewp commented on #98
@chase-moskal Thanks for posting this! Glad to continue the discussion.

The reason `src/lit.js` uses unpkg is so that the tests can be run in the browser without bundling. I'm fully in favor of non-bundling solutions which is why I made Haunted work this way. It doesn't depend on any future feature like import maps. It works today.

I understand what you're wanting but am a little confused becaus

[2019-06-11 13:59] stevenvachon commented on #98
I'm not familiar with import maps, but if lit-html were removed from this project's source code, could it not then be imported into tests?:
[code]

[2019-06-11 18:19] chase-moskal commented on #98
@matthewp

oh hey that's great, i wasn't aware that the main module for haunted *is* using bare specifiers -- i was just confused
- excellent! i suppose concern number 2 from the original post is not so much a problem :tada:
- i think i was confused because [core.js](https://github.com/matthewp/haunted/blob/master/src/core.js#L3) references to `lit.js` instead of `lit-html` -- however though i sup

[2019-06-12 00:24] matthewp commented on #98
@stevenvachon No, I don't want to require configuration to use Haunted.  I personally do not enjoy frameworks / tools where you have to install a dozen plugins and configure them together to do anything useful. Haunted should remain lit-html by default.

There may be some confusion in your example though, Haunted doesn't depend on the `html` function. It only needs `render`. This is why it works f

[2019-06-12 00:28] matthewp commented on #98
@chase-moskal I think I agree with you. I think we can change it so that the main and module fields points to `src/index.js`. Then we can create this new `haunted/component` (or whatever we decide to call it) that doesn't have the lit-html dependency and you can use that to configure Haunted to use lighterhtml or hyperhtml instead.

At this point I think I need to get to work and implement a versi

[2019-06-12 04:40] chase-moskal commented on #98
@matthewp

i worry you've misread what @stevenvachon is trying to say, and i do agree with him

- `lit.js` should be removed from haunted's source code, and haunted's tests should simply import `lit-html` like in his example
- this is not related to lit-html being default and ready out-of-the-box -- we agree with keeping things that way :+1:

i'm just not really sure why you want to provide bundle

[2019-06-12 11:07] matthewp commented on #98
I don't follow, how? If I remove lit.js then Haunted has no dependency on the `render` function that it needs.

I want it to run directly in the browser with no bundler required on the part of the end user. That's why there is the `haunted.js` and `web.js` bundles. Once I change the `src/` to use the bare specifier for lit-html then the src/ folder won't be loaded in the browser. So the bundles ar

[2019-06-12 17:42] chase-moskal commented on #98
@matthewp

haunted doesn't need `lit.js` to exist in order to import `lit-html` in any case -- neither for haunted's source code nor the tests -- its removal won't have any meaningful effect except to clean up the codebase

separately from the lit.js situation, i think haunted's `component.js` should become the main module (instead of the bundle) -- `component.js` should be importing haunted inter

[2019-06-13 10:56] matthewp commented on #98
I disagree that this is a good example. Web modules are available today. Lit-element requires you either bundle first or use a special server or special CDN. Using modules in the web should not wait on future features. So I think moving the bundle to some place like `haunted/bundle.js` kind of makes web modules a second class citizen and I don't want to do that.  But I don't see why we need to ren

[2019-06-16 01:30] chase-moskal commented on #98
i think maybe that's backwards? i think electing the es modules as the main entrypoint would indicate them as the first class citizen, and so it's my preference to see the bundle demoted to the second-class citizen position

either way, you know what? it's aesthetic — tomato tomato!

we agree on what actually matters: so long as both ways get to be citizens, then everybody will be well-served :)

[2019-06-16 02:55] jessehattabaugh commented on #65
useRef is useful for more than getting a reference to a dom element. You can use it to store a reference to any value, even primitives like a boolean. This is the Hooks answer to instance variables. The docs recommend it for several purposes including [getting previous props or state](https://reactjs.org/docs/hooks-faq.html#how-to-get-the-previous-props-or-state)

[2019-06-16 05:28] chase-moskal commented on #98
## plot twist!

woah! @matthewp, @stevenvachon — [the new pika cdn](https://www.pika.dev/cdn) — check this out!

pika just launched this new cdn, and it's really, *really* cool!
- you ask it for any npm package whose main entrypoint is es modules
- it will deliver to you an all-inclusive bundle
- look at how it takes these es-module projects, and gives us lovely bundles
  - [lit-element](https://c

[2019-06-16 06:02] chase-moskal commented on #98
## i'm all-in on this

you know, this new pika development is so revelatory, and i'm so confident in the advice to make es modules the main entrypoint for all packages moving into the future, that i hereby retract my proposal for haunted to include funky bundles or to allow a bundle to take the main entrypoint position

my advice is now that haunted needs to become *properly* pika compatible, and

[2019-06-18 11:47] matthewp commented on #98
@chase-moskal I appreciate your enthusiasm 😀 . I hope to have time to work on this in the next few days. I'll definitely design it with pika in mind.

[2019-06-19 11:44] matthewp commented on #98
So if we get rid of the `index.js` build, how will that impact typescript? There is the `index.d.ts` file which I think describes index.js. If the new `main` is `src/haunted.js` does the typescript file need to move to the `src/` folder and become `src/haunted.d.ts`?

[2019-06-19 17:01] jpray commented on #65
Here is a PR for useRef: https://github.com/matthewp/haunted/pull/100.  Like useCallback, useRef is just sugar around useMemo.

For using it with a DOM element I've been doing the following:

my-app/src/directives/ref.js
[code]

my-app/src/app.js
[code]

[2019-06-19 17:55] matthewp commented on #65
Nice! I'll try to get this merged in tonight.

[2019-06-19 18:15] jessehattabaugh commented on #65
🥳👏

On Wed, Jun 19, 2019, 10:55 AM Matthew Phillips <notifications@github.com>
wrote:

[2019-06-19 18:28] matthewp commented on #65
@jpray Should your `ref.js` be in Haunted? is that something people will usually need?

[2019-06-19 19:22] chase-moskal commented on #98
@matthewp

for each module, say `component.ts`, typescript should be configured to generate the following

- `component.js`
- `component.d.ts`
- `component.js.map`

i think the haunted package.json should have the `main` and `module` fields set to `component.js`

the package.json `types` field should be set to `component.d.ts`

when a user `import {component} from "haunted"`, typescript will refer

[2019-06-19 20:49] matthewp commented on #98
@chase-moskal We're not using TypeScript in this project. The `index.d.ts` file is written by hand. But since I'm going to get rid of the `index.js` bundle I'm wondering where the typings should be moved to. I'm guessing `src/haunted.d.ts` but I'm inexperienced in this.

[2019-06-20 19:40] chase-moskal commented on #98
oh yeah, right

i think you just place `.d.ts` files alongside each module, the same as if you had used typescript to generate them

however, if you are planning to provide and maintain typescript definition files, i strongly, strongly, *strongly* suggest that you actually use typescript — otherwise you have no means of verifying whether or not the code *actually* matches the type definitions that

[2019-06-20 19:48] matthewp commented on #98
Yeah, I'm sure its not hard. I'm not a TypeScript user myself. If we had more regular maintainers and they all wanted to convert then I'd be open to doing that.

[2019-06-24 11:03] matthewp commented on #98
# Notes to self

## Required

* package.json `main` and `module` fields point to `src/` folder.
* `haunted/core` - Includes only component model + hooks, no lit-html integration.
* Keep `haunted.js` bundle for web usage.
* TypeScript should still work.

## Open questions

* `haunted/core.js` should point to `src/haunted/core.js` I guess?
  * Should there be a "core bundle"? Maybe not since `src/ha

[2019-06-24 21:24] chase-moskal commented on #98
we've previously agreed that the package main/module fields should instead point to a `dist/` directory

in haunted's case, we're just dumping compiled output into the root directory, it's a tradeoff which calls for more stringent maintenance of the `.gitignore`, but gives us prettier looking package paths (eg `"haunted/core.js"` instead of `"haunted/dist/core.js"`) -- that's cool

of course, the

[2019-06-25 00:30] matthewp commented on #98
The `haunted.js` bundle *is* an ES module. There are no non-modules in this codebase. The haunted.js bundle is because bare module specifiers do not work in the browser. The haunted.js bundle instead uses `unpkg.com` to load lit-html.

Good point on `src/`, could possibly rename to `lib/`.

[2019-06-25 04:17] chase-moskal commented on #98
sure sure, but that's the deprecated way -- what happens with the old bundle isn't interesting, what's interesting is how haunted will interplay with the modern ecosystem -- for that we need our individualized module outputs, and that's all that matters to me (and is an architectural prerequisite for #81)

we'll tell haunted users that they should use a pika bundle, or do their own bundling

the o

[2019-06-25 04:24] chase-moskal commented on #98
i wanted to reiterate -- the tests shouldn't be using a bundle

each test suite should import the modules that it is testing, like any modern code

:wave: Chase

[2019-06-25 11:32] matthewp commented on #98
To clarify, `haunted.js` is not deprecated and is still going to be mentioned in the readme. I disagree that using browser modules is not "modern" enough. I don't want to require that people use special tools like pika to use Haunted. They should be able import it directly from the browser; no tools required.

They can't, the browser doesn't support bare module specifiers.

[2019-06-25 15:45] stevenvachon commented on #98
I like being able to `npm install` and work locally. I don't know, but I think using URLs in `import` statements will complicate that. I also use webpack/parcel and babel for everything.

[2019-06-25 16:09] matthewp commented on #98
@stevenvachon If you use a bundler (or any other tool like pika) the package.json `main` and `module` fields will work. The haunted.js is only for browser usage.

[2019-06-25 18:05] chase-moskal commented on #98
@matthewp

okay, just bear in mind that one downside, is a minor aesthetic wart for haunted moving into the future
- people of the future will prefer `import {component} from "haunted/component.js"`
- instead of simply `import {component} from "haunted"`
- avoiding the bundle is more optimal, better tree-shaking

i'm not sure if this statement is confusing because it's a misunderstanding — of cour

[2019-06-25 20:45] matthewp commented on #98
The main module is not the haunted.js bundle. Maybe that's the confusion. the package.json `main` will point to the unbundled source. If you're using a bundler, pika, or anything else that parses the package.json, you'll never be using any bundles. The only people who will use a bundle is people who use the browser `<script type="module">` and manually type in the url `https://unpkg.com/haunted/ha

[2019-06-25 21:00] chase-moskal commented on #98
@matthewp — yes it does make me feel much better!

cheers!

:wave: Chase

[2019-07-03 23:38] chrisdmacrae commented on #66
Weighing in here -- it would be _really_ nice if haunted worked with [stencil](https://stenciljs.com), as it is the closet thing to React in the web component space right now.

It currently has context, but lacks hooks as it's inherently class based (due to the way web components work), so they have no short term plan for adding hooks.

[2019-07-04 12:02] matthewp commented on #66
@chrisdmacrae I'm not too familiar with Stencil, how do you see that working? Doesn't stencil compile to web components? I'm not sure how you could integrate it in the way that you can lit-html or lighterhtml.  Is Hooks + JSX + web components what you're after?

[2019-07-06 23:54] moebiusmania opened #101 "How to access shadow root?"
Creating web components with haunted is really cool, but I don't get how to access shadow root for DOM traversal (mainly querySelector). Obviously I'm trying to avoid as much as possible this kind of operations but sometimes you can't run away from them...

Examples: get the slotted elements or wrapping DOM based libraries.

Any feedback or suggestions are appreciated, thanks.

[2019-07-07 14:51] matthewp commented on #101
Hey @moebiusmania, the `this` inside of a Haunted component is the custom element. You can use `this.shadowRoot` to access the shadowRoot. So `querySelector`, etc work there.

[code]

[2019-07-07 14:52] matthewp commented on #101
Also the first argument to the function is the element as well, so if you are using an arrow function and can't use `this`, use the first arg instead. `component((el) => { // use el.shadowRoot })`

[2019-07-08 16:47] moebiusmania commented on #101
that's wonderful! thanks a lot!

I'm closing this, but maybe it can be useful to add a couple of lines on the readme 😃

[2019-07-08 16:47] #101 closed

[2019-07-09 11:16] matthewp commented on #65
bump @jpray, is `./directives/ref.js` something we need in Haunted? If not, is there an example of using useRef without needing something like that?

[2019-07-09 12:15] jpray commented on #65
The react docs mention using it without being a reference to an element, but don't have a code example that I could see.  I use it whenever I have state that I want to set without triggering a render (not that common a use case).  Adding the lit-html ref directive makes sense, especially if we split out haunted-core from haunted and just keep haunted as the lit-html version. ;)

[2019-07-10 12:34] jdin commented on #87
Hi @matthewp. I am following the discussions you have with @chase-moskal and @jpray and waiting for this awesome pull [request](https://github.com/matthewp/haunted/pull/102) .
This pull request does almost what we need but not everything. It does not yet cover LitElement support completely.
For LitElement it would be needed possibility to override a bit more within `Container` and `Component`.
Do

[2019-07-10 17:08] gugadev commented on #64
@matthewp how it's going? The last commit was last year. Do you need some help?

[2019-07-10 20:43] matthewp commented on #87
@jdin I'm still thinking about that. After that PR lands I can probably put some more thought into this issue. Sorry for the wait.

[2019-07-10 21:16] matthewp commented on #64
@gugadev I haven't worked on it, too many other priorities at the moment. Happy to have some help, what do you have in mind?

[2019-07-11 11:21] matthewp commented on #80
Closing in favor of #95 and #102 which will:

1. Add bundle size info to the readme.
2. Add `haunted/core` so that you can use a different view library.

[2019-07-11 11:21] #80 closed

[2019-07-11 11:21] matthewp commented on #92
ping @felipeegasneris

[2019-07-11 11:47] #82 closed

[2019-07-11 14:38] gugadev commented on #64
@matthewp I have some ideas and for the library itself too, for example, adding a props validator/converter like LitElement. Can you create a open group on [Discord](https://discordapp.com/) to discuss this kind of ideas/proposals/etc.?

Thanks!

[2019-07-11 15:20] jpray commented on #96
@matthewp, I believe the bugs with virtual components are still unresolved.  If you are on the verge of a major release, then it might be worth considering removing that feature from haunted, unless you think the issues can be fixed.

[2019-07-11 17:14] matthewp commented on #96
I think we're not going to do a major release, the new build stuff can go in a minor. People do like the virtual feature so I'd like to try and resolve the problems before giving up on it.

[2019-07-11 17:49] stevenvachon commented on #96
I still don't understand its benefits, though.

[2019-07-11 19:42] matthewp commented on #96
@stevenvachon Do you want to discuss more? I attempted to give you some reasons above but you did not respond.

Going to close this issue for now as I don't think there's anything actionable.

[2019-07-11 19:42] #96 closed

[2019-07-11 19:47] stevenvachon commented on #96
You described a benefit that is common to both `virtual()` and a function, not one that differentiates the two, supporting the existence of `virtual()`.

[2019-07-11 20:19] askbeka commented on #96
@stevenvachon Yuo can take look at [original request](https://github.com/matthewp/haunted/issues/27) for virtual components, it might help to understand the motivation.

Since then I have written bunch of WC and applications based on WC at scale, and most painful part is that `customElements.define(name, class)`, it makes it hard to build applications in distributed teams, in "microfrontends" fash

[2019-07-11 20:23] askbeka commented on #96
@stevenvachon And you cannot have functions rendering conditionally if they contain hooks
[code]
because of [this](https://reactjs.org/docs/hooks-rules.html)

[2019-07-11 21:03] matthewp commented on #64
Please feel free to post issues here on GitHub to discuss that kind of thing. I think someone else has requested it as well. I sort of want a mixin instead but happy to discuss.

[2019-07-11 21:55] gugadev commented on #64
@matthewp Sure. I think the landing is ok and enough. For docs, maybe you can use the repo's Github wiki or go with Docusaurus.

Respect to the mixin, can you explain a bit?

[2019-07-12 00:24] matthewp commented on #64
Can we discuss the property stuff here? https://github.com/matthewp/haunted/issues/74. Want to keep this thread about a website.

As for a website, now that I've figured out haunted/core and some other issues, this will probably where I'll spend some more time for a while. Would love to have a website ready for Halloween this year 👻

[2019-07-12 00:40] #98 closed

[2019-07-12 03:23] #52 closed

[2019-07-12 11:47] matthewp commented on #66
After a lot of back and forth we've gone with `haunted/core` in 4.5.0: https://github.com/matthewp/haunted/releases/tag/v4.5.0

I know some people wanted absolute division between the "hooks core" and templating library, but I think this is a good compromise. Can revisit in the future, but closing this issue for now.

[2019-07-12 11:47] #66 closed

[2019-07-12 11:48] matthewp commented on #87
Now that 4.5.0 is out I'm going to look into this soonish.

[2019-07-12 11:49] matthewp commented on #76
Was this ever figured out? I think I'm going to close as I'm not sure there's anything actionable that we can do. It's also possible that you need to add a wait, as Haunted uses an asynchronous scheduler to render.

[2019-07-12 11:49] #76 closed

[2019-07-12 11:51] matthewp commented on #65
So we have useRef, useContext now. I think `useMutationEffect` is the only missing one. There's an issue for that: https://github.com/matthewp/haunted/issues/13

Let's close this and open individual hook issues if any need to be added.  And if there are non-React hooks that make sense for Haunted, I think we can definition talk about that.

[2019-07-12 11:51] #65 closed

[2019-07-12 11:53] matthewp commented on #74
Just to revisit this brief, is the assumption that a defined property will be coerced to a type? For example if you define a number property and `"11"` is provided, this will be coerced to `11`? If so, you could argue that it's better to `throw`. I'm not sure if this is how React behaves or not.

[2019-07-12 14:55] jdin opened #106 "import {...} from 'haunted' does not work anymore as of 4.5.x release"
There is a breaking change in the latest release.
While upgrading to haunted **4.5.1** I had to change all my imports to `haunted/lib/haunted` as following:
[code]

It should be fixed or documentation should be updated. As in a lot of examples you still see `import  from 'haunted'`.

[2019-07-12 14:59] matthewp commented on #106
Oh my! Total mistake, of course you shouldn't have to update this. Let me see what is going on.

[2019-07-12 15:04] matthewp commented on #106
I don't understand, the package.json main is `lib/haunted.js`: https://github.com/matthewp/haunted/blob/456a079378d852cdbccc198530dfc070cb5af550/package.json#L5-L6

What are you using as your bundler/tool ?

[2019-07-12 15:12] jdin commented on #106
I am using parcel. Could be that I did smth. wrong ... I will try to make a project example ...

[2019-07-12 15:18] matthewp commented on #106
Ok, I threw together a quick example with rollup and that's working fine: https://gist.github.com/matthewp/d59b2680e840c1bb2944c65ebbeb4a47

Could it be that parcel has cached some things?

[2019-07-12 15:42] jdin commented on #106
You can close this ticket. Indeed, it is parcel caching issue.
After cache is deleted it started working.
And what also made me confused - IntelliJ (which I use mostly) somehow does not understand this import and underline it as an error. In Visual Code you do not see it.

[2019-07-12 15:47] matthewp commented on #106
Ah, interesting. Cache invalidation is hard!  Wonder if there's anything we can do to tell parcel that the cache should be invalidated ? (I would think the version number change would tell them that).  Anyways, cheers, this one worried me! 🍻

[2019-07-12 15:47] #106 closed

[2019-07-12 19:58] sunesimonsen commented on #74
@matthewp React would issue a `console.error` if you violate the property type. I think it is a bit dangerous to throw, in React that would break the entire rendering tree in the current error boundary. But web-components might behave differently.

Throwing in development would definitely be a good idea though.

[2019-07-12 20:24] jpray commented on #74
I thought type coercion was just for attributes -> properties.  Not for properties themselves...

[2019-07-12 20:32] matthewp commented on #74
It could be for both, that's up to us to decide.

[2019-07-13 06:27] ENvironmentSet opened #107 "Question: using `Function.prototype.bind` inside `hook` function."
While I'm reducing some verbose code inside this project.
I found some curios code from `hooks.js`.

https://github.com/matthewp/haunted/blob/456a079378d852cdbccc198530dfc070cb5af550/lib/hook.js#L24-L27

Is there any special reason to do this?
I was wondering why we don't write fucntion `use` like blow instead of using `Function.prototype.bind`.

[code]

[2019-07-13 06:33] ENvironmentSet commented on #107
Oops, sorry. I misunderstand code.

[2019-07-13 06:33] #107 closed

[2019-07-13 14:17] matthewp commented on #87
I've been thinking more about this. I think this is likely the next thing I work on. So what makes this tricky is that Haunted has 2 things that are contained with the `Container` type:

* Integration with hooks, it holds the hooks state and provides the `update()` that hooks call when their state changes.
* A scheduler that has 3 phases, the first phase calls the function component, the 2nd phase

[2019-07-14 16:29] sunesimonsen commented on #74
I kind of agree with @jpray on

I don't like the idea of type coercion, but it is a necessary evil for attributes as they can only be entered as strings.

[2019-07-15 07:29] jdin commented on #87
Hi @matthewp
Indeed LitElement has its own lifecycle and own scheduler so it is not really needed to use haunted scheduler. Actually in my first quick implementation of LitContainer I did not use haunted scheduler at all and the hooks where executed on `updated` stage:
[code]

I will be happy if at the end LitElement's [styles](https://lit-element.polymer-project.org/guide/styles) and [attribute-p

[2019-07-15 08:17] jdin opened #108 "Provide dispatchEvent with `this` context already set"
Hi @matthewp,
one more possible enhancement request.

If I want to dispatch a custom event from my web component I have to do smth like this:

[code]

Why not dispatchEvent method (and ideally **all the methods from base web component implementation**) has it already **pre-set by haunted**?

[2019-07-15 09:14] albertosantini commented on #86
Fixed via https://github.com/matthewp/haunted/commit/0bc689dfd82c7d54c8b0b7abf1b5edcbf17045ec.
You can close it. ;)

[2019-07-15 11:41] matthewp commented on #86
Thanks!

[2019-07-15 11:41] #86 closed

[2019-07-15 11:43] matthewp commented on #108
Hey @jdin, I don't think I understand, why do you have to bind it? If `this` is not documented that's a mistake, we're not going to break that. The `this` will always be the element instance.

[2019-07-15 12:37] jdin commented on #108
Hey @matthewp
Ideally I think it should work with the following code:
[code]
And it does not work as dispatchEvent does not have `this` context.

I understand that you can do smth like:
[code]
But I think it is not so verbose and you should be much more careful with arrow functions.

[2019-07-15 18:52] albertosantini commented on #64
Also `haunted.js.org` is nice (and free).
See https://js.org/.

[2019-07-19 22:58] azaidi4 opened #109 "Starter App Breaking"
I've been trying to tinker with the demo on codesandbox but all it displays is an empty background. There's no console error. I'm on chrome 75 / Mac.

<img width="1440" alt="Screen Shot 2019-07-19 at 5 57 30 PM" src="https://user-images.githubusercontent.com/26014477/61569788-b6a5c900-aa4e-11e9-851e-cf90c9b7bac1.png">

[2019-07-24 21:23] matthewp commented on #109
I updated the starter box. Give it a try and let me know. Thanks for reporting!

[2019-07-24 21:23] #109 closed

[2019-07-31 07:12] JosefJezek commented on #87
@matthewp do you have any solution?

[2019-07-31 13:57] matthewp commented on #87
Not quite yet. I have worked on this some but have some more to do. Will likely reply here when I have more info. This will likely be the next Haunted feature.

[2019-08-01 05:02] sgtpep opened #110 "A way to declare `observedAttributes` inline"
How about providing `observedAttributes` like this:

    component(() => html`...`, HTMLElement, { observedAttributes: [...] }));

I'd also either make the second argument optional, or put it into the options object:

    component(() => html`...`, { baseElement: HTMLElement, observedAttributes: [...], ... }));

I could make a PR if this API is fine.

[2019-08-01 12:00] matthewp commented on #110
That would be great, thanks!

I think ultimately the options API needs to be revamped. I kind of like putting everything on the function itself, which you currently can only do for observedAttributes. So I think some way to do it either way would be best, perhaps.

But for now, your suggestion sounds reasonable.

[2019-08-04 07:42] zksward opened #114 "useState update doesn't render after an update has already been queued"
I've made a quick demo on codesandbox, linked [here](https://codesandbox.io/embed/relaxed-feistel-4v5wj)

From my understanding and debugging it looks like an update has already been queued before the setTodos call is made (and tries to trigger an update) so the container.update returns. The original update gets rendered, but doesn't have the new state set by setTodos.

I'm new to the use of the l

[2019-08-06 10:58] matthewp commented on #114
Thanks for reporting!  Does the fact that you are providing a function to setTodos have anything to do with the problem? That is supported, but I'm wondering if the bug is in that code... investigating.

[2019-08-06 11:09] matthewp commented on #114
Ah, now I see the issue. You never want to set state within the render function. Instead use `useEffect` to modify the state as a result of the response now being present like so:

[code]

[2019-08-06 11:43] matthewp commented on #87
I have a branch with this working [here](https://github.com/matthewp/haunted/tree/lit).

A basic example looks like:

[code]

I'd really like some feedback from lit-element users.  I think eventually this should be released as a prerelease but I'm still not sure about the API names. What does everyone think? (I also considered calling the constructor `Haunted` instead, but is that confusing with t

[2019-08-06 13:32] jdin commented on #87
Hey @matthewp
Looks cool for now!
I have to try it out myself and I let you know if there are comments.
As about `Haunted` vs `haunted` - I do not mind. Both perfect for me :).
As about `haunted-lit-element`, indeed it is a good idea to have it present. I would also add support for LitElement's `styles` there. I will try to make it but I would need review help from some of you to make sure that I

[2019-08-06 13:55] alfredosalzillo commented on #108
You can use `useRef `and the `onLoad `event:
`
function TestComponent() {
   const ref = useRef();
   const dispatchEvent = useCallback((e) => ref.current.dispatchEvent(e));
   return html`<div @load=${(e) => ref.current = e.target )} @click=${() => dispatchEvent(new CustomEvent('custom-click'))}></button>`;
}
`

[2019-08-06 14:06] jdin commented on #108
Hi @alfredosalzillo
Thanks for the example! Indeed it is another way to do it.
But why don't `haunted` would not do it for you as `dispatchEvent` is widely used when you build a web component? Otherwise you need to create unnecessary boilerplate code.

[2019-08-06 15:41] alfredosalzillo commented on #108
@jdin I think, passing additional properties to the Component is not a good design solution.
But the this of the current web component could be set in the context, and a hook `useThis` could retrieve it.
For example, we can have:
[code]

[2019-08-06 15:57] jdin commented on #108
Hi, @alfredosalzillo
Why do you think it is a not a good design?
[`dispatchEvent`](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent) is a method in `HtmlElement` class and as any other field it is passed to your component function.
Try this:
[code]
and you will see that it is not empty already.
But you cannot call it as you have to bind it first. And I think this `bind` o

[2019-08-06 17:02] alfredosalzillo commented on #108
Hi @jdin,
your approach can't be used with a `virtual` component.
And the fact that that the argument of the `MyComp` is the actual HTML element is undocumented, I think it relies on the `component` function implementation.

An implementation of the `useThis`  (or a better name would be `useHost`) is very simple:

[code]

[2019-08-06 17:54] jdin commented on #108
hi @alfredosalzillo

`Virtual` component does not have an element tag so neither implementation will work unless you bind it to some internal tag using `useRef` which is to my mind a bad design as the source in you custom event will be misleading.

If I am not mistaken neither is documented: usage `this` nor what is passed to the component function.

And to be honest I still think that passing all

[2019-08-07 07:34] alfredosalzillo commented on #88
Hi, think the correct type should be something like this:

[code]

The component function accept a renderer function with a this of type T (a ComponentLike, default an HTMLElement), and args of type P, the props.
The BaseElement should be a Class object of T.
The component function return a Class object of  T.

[2019-08-07 11:21] matthewp commented on #108
There are several ways you can use dispatchEvent today:

[code]

[code]

It seems like you're wanting to use destructing (probably for props?). In that case I'd suggest using a normal non-arrow function.  It's just the combination of destructing arguments *and* using an arrow function where you fall into a problem. You can even use destructing + arrow functions this way:

[code]

I'd really rather

[2019-08-07 11:22] matthewp commented on #88
Nice! Mind sending a PR?

[2019-08-07 11:57] alfredosalzillo commented on #88
Hi @matthewp,
i'll send a PR, eventually improving the other declared function types too.

[2019-08-07 14:06] Gladear opened #115 "Typescript type definitions"
Hi !

I have noted some flaws in the Typescript definitions.
I think types could be more precise, instead of being mostly `any` or `Function`.
I do not have access to my computer at the moment, so I made a list of all the changes that, I think, can improve the type definitions.

Those suggestions are therefore completely untested !

I will test them and make a PR once I have access to my computer.

[2019-08-07 15:41] alfredosalzillo commented on #115
Hi @Gladear,

can you look at the types in the #116?

[2019-08-07 21:55] matthewp opened #117 "Build is failing in CI"
Going to possible moving to something that runs mocha with headless Chrome.

[2019-08-08 08:09] jdin commented on #108
@matthewp, thanks for the suggestions!
I understand your point. Actually I am completely fine with the last example. Indeed I can just create my own `component` function where I can override `HTMLElement`.
I will close the this ticket.

[2019-08-08 08:09] #108 closed

[2019-08-08 11:21] matthewp commented on #108
@jdin No problem, and thanks for the discussion, keep the ideas coming! 😀 🎃

[2019-08-08 11:22] #117 closed

[2019-08-09 01:44] zksward commented on #114
Ah, thanks for the help! That makes sense, I'll go ahead and close then.

[2019-08-09 01:44] #114 closed

[2019-08-09 14:59] matthewp commented on #87
Ideal API:

[code]

And here's one with SkateJS:

[code]

This is a bit better, I think? This could work with any base class that uses `render` as a lifecycle method, which is a lot of base classes.

This shows `haunted/mixin` but this could likely be in core, I think it's just a refactor and wouldn't necessitate a file size increase.

Do people like this better than what was posted above? cc @jdi

[2019-08-09 15:02] matthewp opened #119 "Deprecating virtual components"
There are some known bugs with virtual components such as #69 that I haven't gotten a chance to fix. I wanted to bring up the possibility of deprecating and removing support, but first want to discuss with people who use them how they feel about it. Note that I am not going to remove them without community support, I don't want to break people's apps! 😀

If on the other hand there is strong desire

[2019-08-09 15:05] benjamind commented on #87
This proposed API is I think is exactly what we want for using hooks with lit-element. Gains all the advantages of the simplicity of the class based elements but also the elegance of hooks when needed. Nice work @matthewp.

[2019-08-09 15:31] jdin commented on #87
Hi @matthewp
Maybe I am the only one here so please do not shoot me but I like the previous approach more. 😌
To be honest I wanted to get away from classes and to work only with pure functions.
But with the last mixin approach you have got state in a class and state in a hook which seems very strange to me.
And how do you handle the lifecycle? Are you planning to use again `haunted` scheduler? How

[2019-08-09 15:43] matthewp commented on #87
@jdin Ah yeah, effects make this hard. This is a bit hard to come up with the right level of abstraction. A mixin has to know about more than just `render`, so you can't really do that in a generic way.

Maybe it will be easier to come up with an API if we first break down what a hooks container needs. It needs:

1. A place to store its state.
1. The ability to call the render function (because it

[2019-08-09 15:51] benjamind commented on #87
This approach also works quite nicely yes, and agreed on being explicit about creating a container for the hooks 'environment' to run in as it delineates the two worlds nicely.

[2019-08-10 00:47] justinfagnani commented on #87
In LitElement's case, `render()` is not the right place to hook into. Overriding `update()` should be all you need to do to scope synchronous work - `render()` is just a step inside the update phase. And Haunted should never call `update()` or `render()` directly, but delegate to `UpdatingElement`'s `requestUpdate()` method.

[2019-08-10 00:48] justinfagnani commented on #87
@benjamind is this really going to help with your hooks use cases? Hooks seem pretty tightly tied to their container, so you wouldn't be able to share them across other non-Haunted containers.

[2019-08-10 01:04] benjamind commented on #87
@justinfagnani after our discussion the other day, we've been investigating the hooks that we were hoping to reuse and sadly at this stage it does not look like they would be very easily reused without more further abstraction being done.

So this is no longer a massive driver for us at the moment, but I'm keeping an eye on it with an eye for potential reuse opportunities. But at this time I've se

[2019-08-13 01:25] matthewp opened #120 "Add useLayoutEffect"
This is used to synchronously cause an effect directly after rendering. This could be useful for doing adoptedStylesheets stuff.

[2019-08-13 01:30] matthewp opened #121 "useStyles hook"
This is for discussion, to get feedback if this is something we should do or not. lit-element has a method for setting `adoptedStylesheets`, which is a nice way for doing component CSS.

We could have something similar that works like:

[code]

Something like this. This would probably need [useLayoutEffect](https://github.com/matthewp/haunted/issues/120) to have the right timing.

Is this somethin

[2019-08-13 01:54] matthewp commented on #87
@justinfagnani Haunted has to set up some globals that make hooks work before and after `render()` is called. lit-element doesn't have a beforeRender and afterRender does it? The above snippet is not exactly correct, but I think a LitHauntedElement would have to override the user-provided `render()` in order to do that bookkeeping work.

Might be able to simplify this to something more like:

[cod

[2019-08-13 03:04] justinfagnani commented on #87
@matthewp `UpdatingElement` has `performUpdate()` and `update()` as overridable points for this.

I think the simplest thing you could do is:
[code]

If you wanted to support hooks in `updated()` and `firstUpdated()` (is there a use-case for that?), then you'd want to override `performUpdate()` which is a bit more complicated due to error handling.

[2019-08-13 10:32] threepointone commented on #121
I don't think you should do this as a hook https://overreacted.io/why-isnt-x-a-hook/ In general, things that 'mutate' the tree and change the context below them should probably be components. It's also why we don't have a `useProvider` hook. I would recommend a component like `<Styles>` instead.

[2019-08-13 11:14] matthewp commented on #121
Hey thanks! That's great insight. Just for clarity, this would not mutate the tree in supporting browsers (but would in others), but rather set `adoptedStylesheets`. It would be exactly equivalent to:

[code]

Probably it's a better idea to first do #120 and play around with the idea manually to make sure it feels right.

[2019-08-13 11:28] threepointone commented on #121
Setting `adoptedStylesheets` would count as mutation to me, changing the 'behaviour' of children. Styles are like context in that way, at least to me.

[2019-08-13 17:17] alfredosalzillo commented on #121
Why not think to something like react styled components ? I was working on this https://github.com/alfredosalzillo/masquerad

[2019-08-13 17:40] matthewp commented on #121
Is that repo private @alfredosalzillo? I can't see it.

[2019-08-13 18:36] alfredosalzillo commented on #121
@matthewp wrong link, I fix it

[2019-08-13 21:22] matthewp commented on #87
Thanks @justinfagnani, super helpful.  So I have an updated implementation that can be used like this:

[code]

I like how extremely simplistic this is. And it can be used as a class style or a function style. Either:

[code]

Or:

[code]

I'm going to create another example that uses SkateJS, and if that works out I'll probably do an alpha so those interested in creating these integrations can pl

[2019-08-13 21:32] LarsDenBakker commented on #87
That looks really interesting!

[2019-08-13 22:29] matthewp commented on #121
@alfredosalzillo Thanks, looks cool! As far as haunted I don't think I want to implement a full CSS solution like that. I was thinking something that only sets adoptedStyleSheets. But talking it through here and the point made by @threepointone I think it's premature to do even a useStyles hook. I'm going to start by implementing useLayoutEffect and see what happens from there.

[2019-08-13 22:29] #121 closed

[2019-08-14 06:33] zksward commented on #119
To give a little context on my knowledge/use of the library:
- I've been working on a project using lit-html and haunted's virtuals as a simple UI layer. I've used the project to experiment with some new concepts (components, functional UI, hooks, etc). Lit-html and haunted have been invaluable in playing with these concepts.

Now to move on to a couple of thoughts I have about virtuals:
- I prefe

[2019-08-14 07:41] vuhg commented on #119
I really like the idea of virtual components.
Instead of defined new component with isolated styles, we can reused shared styles and virtual components.
For example:
A custom button component, each of them will include isolated styles, like 10 of them will have 10 separate styles (tag).
A custom button virtual, each of them will include shared styles, 10 of them will use the shame style.

If possi

[2019-08-14 17:30] Gladear commented on #121
I would really enjoy having Constructable Stylesheets integrated in **haunted**.
Maybe instead of being a hook, it can be an option in the `component` function ?
Anyway, _lit-html_ does not currently export the `css` template litteral, it's specific to _lit-element_. This seems to be in discussion [here](https://github.com/Polymer/lit-html/issues/823)

[2019-08-14 17:37] matthewp commented on #121
Thanks @Gladear, I noticed that as well. For phase 1 I'm going to implement #120 which will provide the necessary underpinnings. I'll post a snippet/gist of what `useStyles` would look like using that. If lit-html adds `css` and people find it useful I could see `useStyles` coming into core in the future.

[2019-08-14 22:09] matthewp commented on #87
I added an example with SkateJS in the lit branch. It looks like this:

[code]

I got rid of `beforeRender()` and `afterRender()` and instead made it be `.run(fn)` that just lets you run a function in the context of the State.

At this point I think the next steps would be for me to create a PR with the new API laid out, and probably do a prerelease so people can try out and see how it feels. I'll

[2019-08-15 02:08] justinfagnani commented on #121
I'm unsure about moving LitElement's `css` tag to lit-html, vs trying to make an even more general adoptedStyleSheets polyfill so everyone can interoperate without a common dependency. `css` might still be useful as a declarative dev interface to that. Keep in touch on that point.

As for @threepointone's suggestion, in lit-html we don't have components - it's just HTML and custom elements are the

[2019-08-15 03:11] #110 closed

[2019-08-15 07:48] jdin commented on #87
Thanks a lot @matthewp and @justinfagnani! It looks now really what we wanted. Can't wait for next release! :ghost:

[2019-08-19 12:16] matthewp opened #124 "Consider converting to TypeScript"
To aid with having better typing and not accidentally messing up the existing typings, we should consider migrating to TypeScript. This is not an issue that's ready to be taken on yet, but just for discussion at the moment.

[2019-08-19 12:17] matthewp commented on #115
Closed by #116

[2019-08-19 12:17] #115 closed

[2019-08-19 12:17] matthewp commented on #88
Closed by #116

[2019-08-19 12:17] #88 closed

[2019-08-19 12:51] matthewp commented on #87
The beta is out!  See the release notes here: https://github.com/matthewp/haunted/releases/tag/v4.6.0-beta.0

Please keep me in the loop on integrations as you test this out. Anything that works or doesn't work let me know and we'll see about refining the API. Want to give it a little time to marinate and if everyone's happy we can then release.

Thanks for pushing me to do this issue, I think it'

[2019-08-19 13:33] bvkimball commented on #121
I would really want this as well.  I have been trying to hack around with it.

my first attempt, didn't go so well but:
https://github.com/bvkimball/haunted-styles

I started using [stylis](https://github.com/thysultan/stylis.js) instead of basic css which i think is better for the end-user you can see that here: https://github.com/bvkimball/niht-stylis

I have a fork of haunted were I changed the

[2019-08-19 14:38] alfredosalzillo commented on #121
I think an useStyle hook should be implemented like this:

[code]
And used this way:

[code]

[2019-08-19 20:07] matthewp commented on #121
@alfredosalzillo Why a unique style name? In shadow DOM that shouldn't be required I don't think.

[2019-08-19 20:08] matthewp commented on #121
@bvkimball We need #120 to make this happen, then it should be fairly trivial to do this yourself. I'll work on that issue some time this week.

[2019-08-21 01:16] jdnichollsc opened #125 "Stencil Support"
It would be awesome, thanks!

[2019-08-21 14:15] matthewp commented on #125
I'm not super familiar with Stencil, would the work in #123 make this possible?

[2019-08-21 14:16] ahahn95 opened #126 "Redux Support"
Can this library be used with redux? I assume that react-redux will not work so I was wondering how that could be done.

[2019-08-21 14:29] alfredosalzillo commented on #125
Hi @jdnichollsc,

Why do you need to use hooks inside Stencil components?
Stencil manage the [state ](https://stenciljs.com/docs/state) itself. I don't think it's a good idea to mix 'angular style state' with hooks.

[2019-08-21 19:25] matthewp commented on #126
I'm sure it can be, but I'll let others answer this as I've personally never used Redux.

[2019-08-21 19:39] threepointone commented on #126
You can totally use redux, but you’ll have build your own version of react-redux (a haunted-redux, if you will). I would recommend looking at the /hooks folder on the react-redux repo https://github.com/reduxjs/react-redux/tree/master/src/hooks

[2019-08-22 00:53] askbeka commented on #126
This is quite interesting,
It can work, there are some hooks missing in haunted.
useCallback, useLayoutEffect, maybe more.

I thought why not to just plug react-redux and see if it works, if it does then big win for haunted:)
I have setup a plunkr: https://next.plnkr.co/edit/8lukaUKTSzv6HOn5?preview

with `importmap` to load modules from unpkg and patch up things that do not work.
So now modules l

[2019-08-22 01:50] askbeka commented on #126
context works now, problem was because of not specified module extensions in react-redux, or me specifying them on my side:). different modules were loading and singleton ReduxContext singletone module was loaded twice:)

Now useCallback and useLayoutEffect need to be implemented. react-redux can be repackaged for haunted or maybe made generic without referencing react.

[2019-08-22 11:45] askbeka commented on #126
Works now! https://next.plnkr.co/edit/8lukaUKTSzv6HOn5
Just replaced uselayoutEffect with useffect, and useCallback was already available.

Used [es-module-shims](https://github.com/guybedford/es-module-shims), so no need to enable importmaps! Thanks @guybedford, works like a charm. Do not know how to feature detect if browser supports importmap to conditinally load esm-module-shims.

[2019-08-22 12:34] jdin commented on #126
Here is a simple example without any dependencies:
[code]

Did not test it much yet though and probably can be improved ...

[2019-08-22 13:45] matthewp commented on #126
useLayoutEffect should be coming pretty soon. Hadn't though of doing useCallback because it's not normal to use callbacks in web component code (events are used instead).

[2019-08-22 14:11] askbeka commented on #126
@jdin It works, for sure, it is simpler since it does not have a `context`. Well, simpler as long as all your store-connected (aka smart) components are build together with you application.

And each component using useDispatch is tighly coupled to the hook and the store it dispatches to:

See: https://next.plnkr.co/edit/TJt0M3OKT9iqfyy4
for example of two stores used, Notice that neither my-app n

[2019-08-24 15:01] askbeka commented on #126
@matthewp Have made initial effort [here](https://github.com/askbeka/haunted-redux/tree/init)

Better would be to create a haunted group to manage haunted related projects, if there will be any, but for will try to keep code there.

I have found a list of https://github.com/rehooks/awesome-react-hooks.

Some libraires just like redux have started publishing their hooks.
Would be nice to make a por

[2019-08-26 10:59] vlukashov opened #127 "haunted components are not `instanceof HTMLElement`"
Custom Elements returned by the `component` function do not pass the `instanceof HTMLElement` check. This is not what I would expect from a DOM element, and that might break other code (see https://github.com/vaadin/vaadin-router/issues/372).

Example ([see full in CodeSandbox](https://codesandbox.io/s/haunted-instanceof-htmlelement-7dmgb)):
[code]

See a more detailed investigation in https://git

[2019-08-26 13:19] matthewp commented on #127
Very bizarre, could this be because of the Proxy I guess? I'll look into it.

[2019-08-26 13:26] matthewp commented on #127
Fix is coming in https://github.com/matthewp/haunted/pull/128 . I would think this behavior would be the default with Proxys. Surprising. Learned something new today!

[2019-08-26 13:28] #127 closed

[2019-08-26 13:29] matthewp commented on #127
Published in https://github.com/matthewp/haunted/releases/tag/v4.5.3 . Thanks again for the heads up!

[2019-08-26 14:30] vlukashov commented on #127
Thanks for a quick fix! I find this behavior in ES Proxies strange and confusing as well.

But thanks to this issue I've learned something about Proxies, and also about the haunted library. It looks cool! Keep up the good work!

[2019-08-28 17:06] justinfagnani opened #130 "Docs on sharing custom hooks with React"
I've had a few people ask about hooks for LitElement because they wanted to share custom hooks with their React codebase. #87 is a great start, but considering that most custom hooks import the built-in hooks directly from a React module, the path to code-sharing still isn't clear.

But it should be possible to write custom hooks so that they can receive `useState`, `useEffect`, etc. as parameters

[2019-08-29 11:10] matthewp commented on #120
Likely this would happen immediately after `render(templateResult)` is called.

[2019-08-29 11:12] matthewp commented on #130
Yeah, that pattern works. Also anything done to get React libraries to work with Preact should also work, so bundler aliases primarily.

Happy to document this.

[2019-08-29 11:15] matthewp commented on #126
Related item come up with #130.  We can revisit the scheduler if that will help with something.

[2019-08-29 12:19] askbeka commented on #130
Maybe obvious, but there are two approaches at least developers themselves can manage;
replace imports of `react` with `haunted`
Buildtime using bundler to replace  and runtime using "importmap"

example of later is [here](https://next.plnkr.co/edit/8lukaUKTSzv6HOn5)

Would be nice to have build time approach and/or runtime approach so that all of [awesome-react-hooks](https://github.com/rehooks/a

[2019-08-29 12:24] askbeka commented on #130
plunkr looks broken, at least for me.

here is the page itself https://run.plnkr.co/plunks/8lukaUKTSzv6HOn5/, but you will have to check for sources in inspector

[2019-08-29 17:41] justinfagnani commented on #130
The problem with bundler aliases is that they require a bundler. A factory approach works without tools.

[2019-08-29 17:42] justinfagnani commented on #120
How would this work with LitElement integration? Should LitElement callback into Haunted in `updated()`?

[2019-08-29 19:11] askbeka commented on #130
@justinfagnani importmap does not require tools as you can see in plunkr example above.

But I see your point. **Factory** vs **Dependency Injection**.

**Factory**
Pros:
  - no build tools no runtime `importmap` magic
Cons:
  - consumers should provide all the hooks to the hook library, or authors have to provide separate packages per framework
  - not possible to use available hook libraries lik

[2019-08-29 19:12] matthewp commented on #120
With the new `State` API there's a `callEffects()` for `useEffect` hooks, so I imagine something similar would be added for this.

[2019-08-29 21:10] askbeka commented on #124
Great! I am willing to help.
have you started already?

One minor issue I have faced myself consuming libraries produced by typescript compilation;
https://github.com/Polymer/lit-html/issues/986

[2019-08-30 05:53] Gladear commented on #124
Hi @askbeka !
I'm already trying to convert Haunted to Typescript. I didn't share anything here because I was pretty sure I would not be able to do it, but things are actually better than I thought !
Still, if you can help me finish it, it would be very nice from you 😄

You can check out my work on my fork of Haunted, on the [typescript branch](https://github.com/Gladear/haunted/tree/typescript).

[2019-08-30 09:15] askbeka commented on #119
Lets list pros and cons for two approaches when you need to use haunted inside application, and you do not need necessarily `webcomponents` features like shadow dom or creaintg a custom element.

**virtual**
Pros:
- no need to define a customElement and come up the name that is unique
- no need to pass observed attributes since no html version is used;
- no need to think about if shadowDom needs t

[2019-08-30 09:30] askbeka commented on #119
[code]

[2019-08-30 11:54] matthewp commented on #124
This issue is marked as "discussion" because I still want to talk about the pros/cons of doing so. Please don't start work (unless for your own needs) yet! 😀 If we do this it will have to come after the next minor release anyways, which is in the `minor` branch currently. So converting master now will cause pain down the line.

[2019-08-30 15:54] Gladear commented on #124
@matthewp Actually, I did it for two reasons :
- I tried to create a router for haunted, written in Typescript. It made me realize that the new types were wrong, and that they could not be used to create hooks
- I just wanted to try :stuck_out_tongue:

I did see the next minor release coming, so I used the `minor` branch as base.

As for cons, for what I already tried, the bundle size almost didn'

[2019-09-01 13:11] s-areeb opened #132 "component options not working (lighterhtml)"
`TypeError: Illegal invocation` on v4.5.3

`Uncaught TypeError: Class extends value #<Object> is not a constructor or null` on v4.5.1

[codepen](https://codepen.io/rbrbrb/pen/YzKxBzz)

[codepen full view](https://codepen.io/rbrbrb/full/YzKxBzz)

[2019-09-01 15:06] matthewp commented on #132
Options are the 3rd argument: https://github.com/matthewp/haunted#function-signatures

Pass `HTMLElement` as the second argument.

[2019-09-01 16:13] s-areeb commented on #132
As per README there are two signatures for component function

`component(renderer, options): Element` and `component(renderer, BaseElement, options): Element`

Even when passing 2nd arg, i still get the same issue
`component(Counter , HTMLElement, { useShadowDOM: false })`

Updated codepen with above

[2019-09-03 21:01] matthewp commented on #132
Ok, I forgot about this. Will fix.

[2019-09-04 16:31] treshugart commented on #87
This looks rad, @matthewp. Sorry for the late reply!

[2019-09-05 04:19] chuanqisun opened #134 "Variable name in custom hook example may be misleading"
In the custom hook example, you have
[code]
in which  `el` is actually the `Container`, not the element. When I saw `el`, my first impression was it's either the fragment or the host of the shadow DOM element. Would it be better to rename the variable to `container` or add some documentation on the signature for the custom hook's constructor?

This problem could also be solved once you have #133 m

[2019-09-05 06:43] cristinecula commented on #92
I ran into the same issue as @felipeegasneris. I created this reproduction branch: https://github.com/Neovici/cosmoz-image-viewer/tree/haunted-bug-repro

Just do `npm start` and open http://localhost:8080/dist/index.html in Safari 10.

[2019-09-05 10:54] matthewp commented on #92
Cool, thanks for the reproduce!

[2019-09-05 10:58] matthewp commented on #134
Yeah, this is updated in the minor branch, I noticed that too: https://github.com/matthewp/haunted/tree/minor#write-your-own-hook

The reason is originally Haunted always operated on actual elements. When virtual components were added so was containers, but `el` was never changed as the variable name in the code or examples. Now it will be though!

[2019-09-05 19:51] #134 closed

[2019-09-06 15:01] d-Pixie opened #135 "Bundling haunted for a component library"
We are trying to build a web components based component library and I continually get stuck on the issue where transpiled classes can't extend native classes.

As I see it there are two routes here:
* Bundle only our components and keep treating haunted as a third party library that will have to be imported in the consuming web page.
* Or bundle everything, including haunted in our bundle and not

[2019-09-07 00:15] chase-moskal commented on #135
@d-Pixie — hello friend

for this use-case, i'd recommend against bundling haunted with each component

my thinking is, from the perspective of the consumer of the components, when they import multiple component bundles from your library, you don't want each component bundle to contain its own copy of haunted

to avoid loading the same code multiple times, you need a way to resolve shared peer dep

[2019-09-09 05:02] d-Pixie commented on #135
Hi @chase-moskal

We aren't bundling haunted with each component, but in the library itself. Right now the library is an all or nothing deal, you run the script and it registers all of the web components within it. Ideally most of them should be importable, that is only register when needed, but I haven't figured out a good way to do that yet :)

This is a library that we are going to use internal

[2019-09-09 07:10] chase-moskal commented on #135
that's not a good restriction, there's no reason to load any component code that you don't need

let's talk about meeting that end

here's an example of a component library i've authored — take a look at [menutown/dist/register-all.js](https://unpkg.com/menutown@0.0.0/dist/register-all.js)

- for convenience, this registers all of the components in this library (there are only two in this example,

[2019-09-10 07:27] d-Pixie commented on #135
@chase-moskal I'll take you up on that :) I sent you an email.

I'll document our solution here for others to use when I have one.

[2019-09-11 14:13] bikoocto opened #137 "can't flip the card view on button click"
![dndswitch](https://user-images.githubusercontent.com/52039944/64704426-e52ea600-d4cb-11e9-915b-581aa1e2fadc.png)

here is the actual view of the project,
I want to flip the card on clicking the toggle switch .front view is left side first one and the backside second which needs to be shown on the flip the card on button switch clicking.
demo link:  https://codesandbox.io/s/amazing-mcnulty-hj5cc

[2019-09-12 12:41] d-Pixie opened #138 "Class constructor Hook cannot be invoked without 'new'"
Can't get a custom hook to work. I copied the `useState` hook from haunted as a test, to make sure I didn't do anything strange in my code to cause this, and have this code:

[code]

But when I call it:

[code]

I get "Class constructor Hook cannot be invoked without 'new'" in the console. All I have managed to read on this seems to indicate that it would be an issue with classes bundled with Babe

[2019-09-13 11:11] matthewp commented on #137
Is this related to Haunted? That looks like a React project.

[2019-09-13 11:17] matthewp commented on #138
Can you copy/paste what you get when you click on the link to `:3000/commons.js:827`?  Turn off source maps in your devtools so you get the real source. That error sounds a lot like the babel error when extending a real class to me...

[2019-09-16 06:21] bikoocto commented on #137
yes, this one really projects .i am doing for my college semester. can you hel me out?

[2019-09-16 11:36] matthewp commented on #137
Are you using Haunted?

[2019-09-16 13:27] d-Pixie commented on #138
That leads to the import line from the source above (but now extended to include all imports we use from haunted due to bundling):

[code]

[2019-09-16 13:28] d-Pixie commented on #138
That tracks back to the source of haunted:
[code]
The `hook = new Hook(id, current, ...args);` line.

[2019-09-16 13:37] d-Pixie commented on #138
Hmmm ... When looking at this again, without source maps, I see that it leads to a call of `function HookTest(id,el,initialValue){var _this;_this=_Hook.call(this,id,el) ...` and that looks off, it looks transpiled.

So looking further into this I can see that our output, from Rollup, is fine - it is not transpiled. But I'm testing this using Docz and it seems to be including our external script in

[2019-09-16 13:37] #138 closed

[2019-09-16 15:05] matthewp commented on #138
No problem, glad you figured it out!

[2019-09-17 13:31] vladnicula commented on #119
I'm trying to integrate haunted in a data heavy tree hierarchy content where I could be even 100 levels deep in the hierarchy when rendering small nodes. One of the main selling points of haunted was the ability to use context in non web component entities.

I need to render data driven styles that look and match exactly an html structure, and need to update them in real time. If I add a new web c

[2019-09-18 19:52] Gladear commented on #87
Having scoped packages would also "solve" issue #80.
There could be an `@haunted/core` package that would have no dependency, which would make users free to choose the rendering library they want to use, without being forced to download `lit-html`.

[2019-09-18 20:13] matthewp commented on #87
haunted/core does not include lit-html.

[2019-09-19 19:03] matthewp commented on #135
Figure this out?

[2019-09-19 19:04] matthewp commented on #87
This is the kind of thing that makes me leery about scoped packages and breaking up haunted: https://twitter.com/geddski/status/1174760156590039040

[2019-09-20 20:37] chase-moskal commented on #87
i agree

many folks are overzealous in breaking a project up into microfragments, like with koa -- practically every function is its own repo

i think i'd be favor of keeping several entrypoints, for interoperability with different libraries, within the haunted repo, eg, `haunted-lit-html.js`, `haunted-lighterhtml.js`, `haunted-htm.js`

[2019-09-21 09:42] Gladear commented on #87
To me, the problem with multiple entrypoints is handling dependencies.
Currently, Haunted depends on `lit-html`, which users of other rendering libraries don't care about.
If other entrypoints are created, Haunted would depend on other libraries, which I don't think is a good idea.
Having multiple packages would allow each package to have different dependencies, depending on which are required.
Ma

[2019-09-21 11:52] matthewp commented on #87
Let's refocus the conversation surrounding the idea of having scoped packages for integrations. We can relitigate breaking up Haunted in another issue.

The downside to having a scoped registry for community packages is, unless I'm wrong on this, I think anyone with publish rights on `@haunted/foo` would also have publish on `@haunted/bar`. Since @jdin would be owner on `@haunted/lit-element` then

[2019-09-21 19:52] chase-moskal commented on #87
@Gladear

i believe there's a different way of looking at it

haunted can list `lit-html`, `lighterhtml`, `htm`, etc, as dependencies in its package.json — but remember that doesn't mean those dependencies will actually be loaded at runtime by a consumer of haunted — it really only means that those dependencies will be *available* in `node_modules` to the consumers own bundling tooling

the depend

[2019-09-22 00:20] matthewp commented on #87
No, it just means special integrations like @jdin's `haunted-lit-element` could be `@haunted/lit-element` instead. It wouldn't change `haunted` in any way.

[2019-10-02 13:15] d-Pixie commented on #135
Not yet, no.

Do you have any recommendations on how to do this @matthewp? The combination of server side rendering, with Gatsby for example, and haunted doesn't seem easy to accomplish. At least not until lit-html adds propper SSR support. And bundling with babel doesn't seem to work, at least not if you write custom hooks ... Loading as a script tag with `type=module` does work. But support for

[2019-10-11 00:19] justinformentin commented on #119
I wanted to chime in with support for keeping Virtual Components. The ability to create elements that won't add a tag in the dom is so useful, and is integral to a part of an project I've been working on. React has <Fragment>, and I was so happy to read Haunted has virtual components. It really makes certain things possible that would otherwise be impossible or require crazy workaround hacks.

[2019-10-16 09:54] #137 closed

[2019-10-22 00:05] matthewp opened #144 "useEffect throws when using async functions"
Async functions as useEffects are not working because internally we assuming that the return type is always a teardown function.

[2019-10-22 00:12] #144 closed

[2019-10-30 18:05] dy opened #146 "Extended custom elements"
It is possible to declare extended custom elements as:

[code]

[code]

That enables progressive enhancement, so that the content is available even without custom elements turned on.

What's the way to declare extended custom elements with `haunted`?
Would be nice to have it as
[code]

[2019-10-30 18:35] dy opened #147 "Use preact/react as renderer"
That's possible to render haunted component's content with react/preact:

[code]

This example makes haunted fully incorporate react/preact components infrastructure.
Also with preact, virtual components don't make much sense, since regular preact/react components can be used directly.

(not sure what this ticket is about, I guess an integration example, possibly can be a separate doc).

[2019-10-30 19:01] matthewp commented on #147
That's interesting that you can do that 😀. But Give that Preact has hooks already why would you add another hooks layer like Haunted?

[2019-10-30 20:43] dy commented on #147
I'm curious about 2 potential options:
- (p)react-based web-components (there're libs like [remount](https://github.com/rstacruz/remount), but api is not creation of customElements, like haunted).
- generic hooks with generic renderer - lib, that consumes any renderer (lit, lighter, morphdom etc) and provides react-compatible structure.

[2019-10-30 21:26] dy commented on #147
The 1. seems to be trivial, actually:
[code]

[2019-10-30 21:32] #147 closed

[2019-10-31 06:02] Gladear commented on #146
Hello !
This appears to be undocumented, but you can use the second argument of the `component` fonction to do this:
[code]

[2019-10-31 10:45] dy commented on #146
Nice!

[2019-10-31 10:45] #146 closed

[2019-11-13 20:56] UpperCod opened #149 "Bug when unmounted and recycling the web-component"
This bug should be a [comparative exercise with Atomico](https://github.com/atomicojs/atomico/issues/15#issuecomment-553268648), in this exercise I have detected that haunted against unmounted, allows the component to continue operating even if it is not in use.
This can harm the user experience since the component continues to consume resources associated with the rendering process.

In my opinio

[2019-11-17 04:28] ChrisBrownie55 opened #150 "Add example detailing how to fire events"
# There should be an example of how to fire events

Currently, there are no examples on how to fire regular or custom events in the README file. I believe it would be beneficial for people new to Haunted (or even web components) to have an example of how to fire events from within their component.

Related to this, on the README there are several examples showing different ways to create a compone

[2019-11-17 04:48] ChrisBrownie55 opened #151 "Standardization of examples in README"
# The examples need to be standardized

The examples in the readme are all over the place in terms of being written the same way each time. There are numerous examples most written in a different way than the last. As explained in issue #150 this lack of standardization in examples does bring it's own issues related to firing events.

I propose that all component definitions be re-written to match

[2019-11-18 04:44] ChrisBrownie55 opened #152 "useMemo, gracefully fail when no dependencies are provided"
### `useMemo` should gracefully fail when missing its `dependencies`

When incorrectly using `useMemo`/`useCallback` without dependencies, useMemo throws with a very cryptic error message:

It would be better to fail gracefully and warn the user of their fault. A good warning example might be one from eslint-plugin-react-hooks:

I think the best way to fail gracefully would be to have the property

[2019-11-18 17:16] felipeegasneris commented on #92
:ping:

[2019-11-21 23:54] davidsteinberger opened #155 "Some race-condition when used with lit-element"
I used `useContext, useState, useEffect` in a setup like this:

    render() {
      const { docs } = useContext(DBContext);
      const [users, setUsers] = useState([]);
      useEffect(
        () => {
          const dbUsers = docs
          .filter(({ doc: { type } }) => type === 'user')
          .map(user => ({ ...user, isEditing: false }));
          setUsers(dbUsers);
        },
        [d

[2019-11-24 17:50] matthewp commented on #155
Are you using a Haunted / lit-element integration? If so it seems like you want to submit the bug there.

[2019-11-24 17:52] matthewp commented on #151
I agree! Using `function` works the best here.

[2019-11-24 20:22] davidsteinberger commented on #155
I just used it in a class that's extended from [LitHauntedElement](https://gist.github.com/matthewp/92c4daa6588eaef484c6f389d20d5700). That, of course, may not be directly related to haunted, but I thought I should mention it. Is it safe to call `runEffects()` directly after the `super.update()` as mentioned in that gist?

[2019-11-24 21:37] matthewp commented on #155
I think this is related to the lit-element integration. I think what is happening is that lit-element likely ignores `requestUpdate()` when it happens inside of an update(). By waiting for `updateComplete` it starts accepting requestUpdate() again.

[2019-11-24 21:38] matthewp commented on #150
I agree, this is a good idea. I prefer to use regular `function` for this reason, it's a little cleaner. Going to mark as a documentation issue.

[2019-11-24 21:49] #152 closed

[2019-12-02 11:04] edsilv commented on #125
I think the argument for supporting hooks in Stencil is largely one of code reuse/interoperability.

[2019-12-04 20:00] dy opened #158 "CommonJS entry"
With native node ESM modules support https://nodejs.org/api/esm.html, it recognizes haunted as `module` during `import`. That causes problem that `haunted` is impossible to be imported via `require` at all.
That's possibly fine with the package, bus that creates side-effect: now it is impossible to detect `haunted` in deps, since installed package detection is only possible via optional require `t

[2019-12-04 20:06] dy commented on #158
Or, removing `"type": "module"` from `package.json` would suffice - it would make haunted possible to be consumed both by `commonjs` and `esm`.

[2019-12-04 20:19] matthewp commented on #158
CommonJS wrapper sounds like a good idea to me!  I probably won't have the bandwidth to work on this until this weekend at earliest however. If someone wants to submit a PR that would speed things along.

[2019-12-06 22:26] talentlessguy commented on #124
yeah, better rewrite it in TS not to waste time on writing typings, then configuring `tsconfig` in projects....

BTW, @Gladear, how's the fork going?

[2019-12-07 04:38] matthewp commented on #124
Haunted was converted to TS a while back.

[2019-12-07 04:38] #124 closed

[2019-12-07 20:57] talentlessguy commented on #124
great! I didn't know that but at least one more issue is closed :)

[2019-12-08 17:50] realdennis commented on #74
It might be good if `haunted` has built-in type converter!

In my case, I always do some type convert for props like `Number()` / `JSON.parse()` .

If there is a interface like below without breaking original usage:
[code]
and In the App:
[code]

[Here](https://github.com/Polymer/lit-element/blob/c335ae509dab1a7e6b85dbade8d3dc25d957cf5c/src/lib/updating-element.ts#L152-L163) is the `lit-element`'s

[2019-12-10 21:24] dy commented on #158
Not SSR/jsdom/browser-env tests in node@13 isn't possible due to that reason.
Importing haunted directly via `import` is also blocked.

[code]

[2019-12-12 23:16] dy opened #161 "useEffect is synchronous?"
I noticed that
[code]
Never logs `2`, `3` - is `useEffect` synchronous by design?

[2019-12-16 11:29] matthewp commented on #161
Calling `state.runEffects()` synchronously runs the effects, yes. The State api does not include its own scheduler. The idea is that you will use some other library that contains its own scheduler (like LitElement has). When you use Haunted directly it runs effects asynchronously after the render function does. With that being said I'm confused as to why `2` and `3` don't run here.

[2019-12-16 18:19] dy commented on #161
Another similar issue (I guess the same cause):
[code]
The console logs `1` just a single time - `setS` does not rerender the component.

[2019-12-17 12:18] matthewp commented on #161
What does React do in this scenario? I know they usually discourage setting state in render that way. Usually you would do this in a `useEffect`.

[2019-12-17 12:34] d-Pixie commented on #135
So, what we decided to do in the end was a multi component repo using [Lerna](https://github.com/lerna/lerna). In large parts we modeled our setup after the [Google material design web components library](https://github.com/material-components/material-components-web-components). Our take can be found on Github as [oma-wc](https://github.com/oma-wc/oma).

The resulting setup allows us both to use

[2019-12-17 12:34] #135 closed

[2019-12-17 17:07] dy commented on #161
`useMemo` is the only way to synchronously run some code via deps check in react:
https://codesandbox.io/s/wonderful-sara-ymcfi
So it works like sync `useEffect` with result instead of destructor.

[2019-12-17 18:42] matthewp commented on #161
Ok, I'll look into this more then.

[2019-12-20 02:03] justinformentin opened #163 "Microsoft Edge compatibility"
I can't get haunted to work in Edge. I was thinking it was just something I was doing in my project, maybe related to webpack, but I tried loading up a haunted starter app in codesandbox as well and I got the same error.

`Expected identifier, string or number`

And this error seems to be coming from line 23 in `component.js`
`else {`
`    this.attachShadow({ mode: 'open', ...shadowRootInit }); <<

[2019-12-20 11:30] Gladear commented on #163
Hi,
Edge does not support object spread syntax, that's where the problem comes from.
You should probably use Babel to transpile your code to something Edge can understand, or just don't care and wait for Edge to move to Chromium.

[2019-12-21 14:35] justinformentin commented on #163
Hm, I am using babel. I thought preset-env transformed spread, that's weird, I'll look in to that. I tried testing it more and even with the spread, it works in Edge beta on mac and windows, but not the Edge that's shipped with Windows 10.  I'll try forcing spread transformation and see if that helps.

[2019-12-21 15:18] #163 closed

[2019-12-30 06:48] ChrisBrownie55 commented on #149
It looks like you're not cleaning up after doing `setTimeout`. If you're doing any kind of work that needs to be canceled when the element is unmounted (or when your dependencies change), **you need to return a cleanup function to cancel whatever it is you're doing**.

You should be able to change your effect to the following to fix your issue:

[code]

If you're worried that could become tedious,

[2019-12-30 16:45] #150 closed

[2019-12-30 16:45] #151 closed

[2019-12-31 19:13] UpperCod commented on #149
you are correct @ChrisBrownie55 , but the use of setTimeout is just an example that shows how updates are executed on the webcomponent even after having deleted it, haunted could add a renderer lock to your code when it has not been removed this would avoid loss of resources, there are asynchronous effects that cannot be correctly eliminated by useEffect without complexing your code, eg fetch, I d

[2019-12-31 21:31] ChrisBrownie55 commented on #149
It's actually advised to cancel your fetch request in a situation like this, and it is definitely possible but I can see how

[2019-12-31 21:36] ChrisBrownie55 commented on #149
It's actually advised to cancel your fetch request in a situation like this, and it is definitely possible but I can see how this does affect things.

For example, I was testing out my solution and when you leave the tab long enough, the Atomico example stops but the Haunted one continues

[2019-12-31 22:05] ChrisBrownie55 commented on #149
If you have any advice on how Haunted could pause the render cycle like Atomico does that would be helpful. Also what did you have in mind by "renderer lock"

[2020-01-02 01:12] nlundquist opened #166 "Setting scrollTop on tag using haunted causes an IllegalAccessException"
When using a haunted component that is a scrollable container, setting the `scrollTop` property on the component instance results in an IllegalAccessException. I believe this is due to `Reflect.set(target, key, value)` here:

https://github.com/matthewp/haunted/blob/142468f93073cb1e99c013a524392eaf90adbefd/src/component.ts#L115

being called with an incorrect `target` argument. While debugging the

[2020-01-02 01:30] matthewp commented on #166
Try passing the `receiver` as the 4th argument to Reflect.set

[2020-01-03 05:30] UpperCod commented on #149
@ChrisBrownie55 Encapsulate rerender in the constructor BaseScheduler and add a state eg, `this.unmount`, and execute rerender only when that state is unblocked... `teardown` you must change the state to generate the lock... **this would solve the issue**

https://github.com/matthewp/haunted/blob/master/src/scheduler.ts#L38
https://github.com/matthewp/haunted/blob/master/src/scheduler.ts#L88

As a

[2020-01-13 19:13] scttdavs opened #168 "IE11 support is broken again"
Looks like a change 5 months ago broke support for IE11, even with the proxy polyfill. The polyfill does not support `getPrototypeOf`:
https://github.com/GoogleChrome/proxy-polyfill/blob/f4e1a0651833b0e93e016c4e1a511171d973f9b4/src/proxy.js#L52

This PR is where it broke:
https://github.com/matthewp/haunted/pull/128

[2020-01-22 19:46] lsimone opened #170 "es5 transpiling for component library"
We are trying to build a component library with es5 as target transpilation and we like a lot `haunted`/`lit-html` approach.

If I do not transpile `haunted`, it will not work for older browsers.
While if I do it through babel/webpack (`@babel/preset-env` preset), `haunted` will throw the error in the screenshot at the beginning that I tried to solve through [babel-plugin-transform-custom-element-

[2020-01-23 18:29] lsimone commented on #168
we are having the same problem.
We are building a component library that should support IE11 too.

I like very much haunted, so I tried to make a PoC and build an hello world with `haunted` and [`lit-element`](https://lit-element.polymer-project.org/).

Even if I like the haunted approach with react-like hooks, I haven't been able to make it work on IE11, while `lit-element` is currently working w

[2020-01-23 19:26] lsimone commented on #34
@crisward I tried to run your repository: it works just if you don't add the option `{ useShadowDOM: false }`

[code]
results in an error in IE11.
Do anybody know where it could come from?

![image](https://user-images.githubusercontent.com/3266650/73016686-a23bf200-3e1e-11ea-9701-880d78fe4a75.png)

[2020-01-29 14:13] felipeegasneris commented on #92
any clue on this?

[2020-01-29 14:40] matthewp commented on #92
No, sorry. It's unlikely I'll personally be able to get to this any time soon. I would love a PR that fixes it.

[2020-02-26 09:37] christophediprima opened #172 "Wrong context initial value when using a wrapper component with a slot"
I am trying to implement a React well known pattern where you use a wrapper component to host the state of the context. This is useful to expose the state setter and eventually host some logic.

The problem is that the component reading the context first mounts with the value used when creating the context and not the value provided by the provider.

I don't have that issue when directly using the

[2020-03-02 15:47] atoy40 opened #174 "Problem with ESM libraries using only React default export"
Hello,

I'm trying to use Haunted with the react-apollo hooks library, but I think it can be an issue with a lot of other "hooks" libraries :

I use Webpack to alias react to haunted, but in the apollo library, they use :
[code]
and then they call React.createContext() or React.useXXXX(). The problem is Haunted default export doesn't contains thoses methods.
I'm not sure if it is a problem into th

[2020-03-02 17:18] atoy40 commented on #174
Just as a workarround, I added an "intermediate" module into my project containing :
[code]

And this is this one I aliased over react module. I've only added 3 function to the default export because this is thoses needed by react-apollo.

[2020-03-08 18:34] fwermus opened #175 "how to observe attributes which are keywords in js"
I use component iron-page which select the page through html attribute class. I couldn't find a way to observe class attribute in my custom component, because class is a reserved word in JS.

For instance, if I define the following component:

function App({ class }) {
  return `Hello ${class}!`;
}

App.observedAttributes = ['class'];

component(App, { observedAttributes: ['class'] });

It throws

[2020-03-08 20:40] jdin commented on #175
I think the following will work:
[code]

[2020-03-10 18:33] #175 closed

[2020-03-18 07:59] glomotion commented on #170
I too would love to see an es5 compiled build of this. Trying to debug a super strange error coming out Angular-CLI's build system right now:

`Uncaught ReferenceError: scheduler_BaseScheduler is not defined
    at ReJ2.render (component.js.pre-build-optimizer.js:4)
    at Object.ReJ2 (lit-haunted.js.pre-build-optimizer.js:4)
    at __webpack_require__ (bootstrap:84)
    at Module.zUnb (main.f48b3

[2020-03-18 08:08] glomotion commented on #170
atm im working around it, simply by pre-compiling up haunted before my project's main build step...
eg:
`babel ./node_modules/haunted/lib/*.js --out-dir ./node_modules/haunted/compiled  --presets=@babel/preset-env`

[2020-03-18 12:15] lsimone commented on #170
so @glomotion  you basically import your es5-compiled hauted lib and everything works as expected or you encountered other issues?
[code]

[2020-03-18 12:22] glomotion commented on #170
@Isimone correct! I suspect it’s because the webpack terser plug-in doesnt like module code. Atleast that’s my working theory so far.

[2020-03-18 12:23] lsimone commented on #170
I'll give it a try.
Thank you for sharing!

[2020-03-19 09:39] fgladisch opened #177 "CustomEvents and TypeScript"
Hi!

We want to use CustomEvents with Haunted in TypeScript, but ran into a problem when defining "this" for a function:

[code]

Haunted does not seem to export anything we can replace "any" with. Any ideas?

Thanks!

[2020-03-19 22:46] matthewp commented on #177
I'm not a TS user but we have several around here, hopefully someone will chime in.

[2020-03-20 10:02] fgladisch commented on #177
It's seems `this` has to be `Element` from `lib.dom.d.ts`. But TypeScript gives an error when defining the custom element:

[code]

[code]

[2020-03-23 10:35] jdin commented on #87
Just noticed that this one is still open. Closing it as this one: https://github.com/jdin/haunted-lit-element seems to be working ...

[2020-03-23 10:35] #87 closed

[2020-03-23 19:00] fwermus opened #180 "haunted.js:492 Uncaught (in promise) TypeError: Cannot read property 'parentNode' of undefined"
I am trying to develop an upload file component. What I need is to reformat path to filename to show to user. But, I got haunted.js:492 Uncaught (in promise) TypeError: Cannot read property 'parentNode'.

Next the stack trace and code

haunted.js:492 Uncaught (in promise) TypeError: Cannot read property 'parentNode' of undefined
    at teardownOnRemove (haunted.js:492)
    at haunted.js:481
    at

[2020-03-26 11:01] sopretty commented on #177
haunted & ts versions: `"haunted": "^4.7.0", "typescript": "^3.7.2",`
Same problem here, when I try to define a custom element like this:
`
export const wcExample = component(Example, {
  useShadowDOM: false
});
customElements.define('example', wcExample);
`
`Argument of type 'Constructor<object>' is not assignable to parameter of type 'CustomElementConstructor'.
  Type 'Element' is missing the fo

[2020-04-12 01:36] fwermus opened #181 "how to refer to nested components?"
I have two webcomponents named ql-product-cart and ql-product-list which share a context.

My app named ProductListPickApp declares a ql-product-provider. How can I declare into ql-product-provider, the components ql-product-cart and ql-product-list,

Instead of nesting ql-product-cart and ql-product-list in ProductListPickApp, I had to declare them into the provider, which I think It is wrong. I

[2020-04-12 12:49] matthewp commented on #181
Have you looked here? https://github.com/matthewp/haunted#usecontext

Contexts are created using `createContext` which I don't see in your example.

[2020-04-12 17:30] fwermus commented on #181
I rephrased the question above.

[2020-04-12 19:40] chuanqisun commented on #64
Hey @matthewp, I noticed that this thread has been paused for a while. As a UX developer, I want to contribute to your website as it has helped me build many amazing things. I wonder what you have in mind before you can launch it. Couple of things I can think of:
1. A logo (do you need some graphic designer's help?), or at least a favicon
2. A tag line to summarize why people would want Haunted
3.

[2020-04-15 12:59] matthewp commented on #64
Hey @chuanqisun! Those are all great ideas. So there's a version of the Haunted website I started a while back in a branch. I need to update that branch to use a SSG, probably Eleventy as that's what I use in most of my projects. I usually do like having the documentation all on the site, so migrating that from the readme to the site I think is a good idea.

How about this, I'll update that branch

[2020-04-30 09:24] NathanDeveloping opened #183 "Putting innerText directly as child throws an Illegal Invocation error"
Hi!

I tried to render different components made with LitHTML + Haunted and it appears that every time I put inner text as direct webcomponent child, it throws an Illegal Invocation error.

[code]

<img width="450" alt="Screenshot 2020-04-30 at 11 21 04" src="https://user-images.githubusercontent.com/18258326/80694387-bc980280-8ad4-11ea-8a5f-f3197650bc7c.png">

![wc-inner-text-trace](https://user-

[2020-04-30 10:05] NathanDeveloping commented on #183
Finally, I managed to put inner text in a vanilla environment. It seems to be related to React. I'm closing this issue.

[2020-04-30 10:05] #183 closed

[2020-05-19 03:51] mikabytes opened #186 ".textContent and .innerHTML support"
https://codepen.io/mikabytes/pen/oNjQQNE (open inspector and check console)

Currently, Haunted elements try to set these native properties using Reflect.set

[code]

This causes a `TypeError: Illegal invocation` error. I'm not sure why.

Probably we could solve this by using `target[key] = value` instead of Reflect.

[2020-05-19 03:57] mikabytes commented on #186
I'd be happy to take a stab at this if you want?

[2020-05-26 01:14] fwermus opened #188 "deploy haunted js library in firebase hosting in folder node_modules get an error"
I am using haunted js library in a project and want to deploy it in firebase hosting. But, I got the following message:

GET xxx/node_modules/haunted/lib/lit-haunted net::ERR_ABORTED 404
GET xxx/node_modules/haunted/lib/core net::ERR_ABORTED 404

I deployed node_modules folder to firebase hosting.
The building was made with polymer-cli and these are the resolutions of the imports. Instead of lit-h

[2020-06-03 00:27] mikabytes commented on #186
Just ran accross this while using `className` as well.

[2020-06-18 19:54] micahjon opened #192 "Why is Component function called when a property value is set to itself?"
Hi,

We're planning on adopting Haunted at [BeFunky](https://www.befunky.com/) and I'm trying to wrap my head around the rendering model. We already use lit-html, but with a setState-like data structure which avoids re-evaluating our Component functions and diffing our templates when the underlying data has not changed.

This works fine when using the `useState` helper. However, when I set a prope

[2020-06-24 01:17] #186 closed

[2020-06-24 08:50] mikabytes commented on #166
@matthewp I think this Issue should be fine to close now 👍

[2020-06-24 15:30] djalmajr commented on #40
Any news about it? 😁

[2020-07-06 17:01] pranksinatra opened #195 "Sponsorship"
Just curious if this project is looking for backers. My company would be open to contributing as we start to use it in production.

[2020-07-08 00:55] matthewp commented on #195
Not unless it made enough to work on full time. Otherwise it just adds an obligation.

[2020-07-08 23:18] pranksinatra commented on #195
Gotcha, that makes sense!

[2020-07-13 16:06] #166 closed

[2020-07-19 23:54] djalmajr commented on #40
Polymer/lit-html#283

[2020-07-30 17:09] fegas commented on #177
any clue on theright way to declare a component on TS?

i have this:

[code]

and on the index.ts:

[code]

how can avoid "any" on options? and, am i right on my TS definitions on haunted?

[2020-07-30 17:46] Lodin opened #198 "[question] Why proxy instead of property list?"
This library is amazing, and I'm going to use it for my next project. However, reading through docs and code, I found that it uses Proxy to observe property changes. I wonder why Proxy? I know proxies as quite slow and clunky solution which is barely polyfillable.

Why not use the explicit list of allowed properties, like it is done for attributes? It could look like the following:
[code]
This not

[2020-07-31 18:42] Lodin opened #200 "Is there any organization for haunted?"
I'm going to port the [react-final-form](https://final-form.org/react) to haunted. Is there any organization I can publish the package under? It would be great to have one to have the nice package name like `@haunted/final-form` instead of old-school variant like `haunted-final-form`.

[2020-07-31 20:38] chase-moskal commented on #200
for some reason, aesthetically, i prefer the repos just hanging out on people's personal githubs :)

i guess i just like the anarchy! :laughing:

[2020-07-31 20:52] Lodin commented on #200
@chase-moskal, well, I'm actually talking about `npm` organization, not the GitHub one 🙂

[2020-08-04 18:37] matthewp commented on #200
There isn't currently but I don't see a problem with creating one.

[2020-08-07 18:48] micahjon opened #201 "Building & running tests"
I've been working on running the haunted test suite and encountered a few issues. I'm not very familiar with GNU Make or Typescript, so apologies in advance if I'm missing something obvious.

1. Might be worth clarifying that GNU Sed (not Mac Sed) is assumed by regexes in Makefile.
https://github.com/pranksinatra/haunted/commit/070ca682d88c7fb53e4f24c34561e1171d4f0a90

2. I'm getting a Typescript

[2020-08-26 19:15] cletusw commented on #120
Fixed by #136 ?

[2020-08-26 19:18] cletusw commented on #121
Now that `useLayoutHook` is merged (#136) how might an implementation of this look? Thanks!

[2020-08-26 20:04] cletusw commented on #92
This looks to be fixed. I just tested via iOS Simulator -- I can repro per the [above steps](https://github.com/matthewp/haunted/issues/92#issuecomment-528222917) on iPhone 7 in iOS 10.3.1, but no error & page w/ image loads fine in 11.3, 12.4, 13.5 (iPhone 8).

[2020-08-26 20:24] fwermus opened #205 "how to pass a property and an observable attribute."
I have tried with no success to pass an attribute and a property to a custom component. I can get active attribute, but not refresh property.

function DopplerForm({ active, refresh }) {
...
}

const properties = {
  refresh: {type: Boolean},
};

App.observedAttributes = ['active'];

customElements.define("ql-xxx", component(DopplerForm, {properties, observedAttributes: ['active']}));

[2020-08-27 22:43] andyinabox commented on #121
There's a hook implementation here that seems worth a look: https://whoisryosuke.com/blog/2020/adding-constructable-stylesheets-to-hauntedjs/

[2020-08-31 17:14] chuanqisun commented on #64
@shinobi5, I haven't started. Feel free to take a lead on this. I do have some experience in 11ty so I can help too.

[2020-09-02 01:10] shinobi5 commented on #64
Thanks for the update @chuanqisun. I'm happy to either be a helping hand or take the lead, whatever works. Agree we still need some direction on how to proceed. I'm not familiar with 11ty but making the assumption it's relatively straight forward to pick it up...

[2020-09-08 06:08] zalelion opened #207 "Can I create a hook like this?"
I want this , don't link `extends Hook class`. Can i?

[code]

[2020-09-18 16:23] loganvolkers commented on #125
Here's an example component that works. Maybe the boilerplate can be trimmed down and made into a library using some tricks from `stencil-store` or `stencil-wormhole`.

[code]

[2020-09-18 19:59] loganvolkers commented on #125
Implemented a possible solution here: https://github.com/ionic-team/stencil/issues/1873#issuecomment-695057903

[code]

Source: https://gist.github.com/loganvolkers/6ba4335d0835d69a77b0b37b89589513

[2020-09-18 20:00] loganvolkers commented on #125
@alfredosalzillo there are a number of examples of core stencil libraries that support externalizing state, such as `stencil-store` and `stencil-redux` -- those were the inspiration for how to wire this in

[2020-09-23 08:05] atoy40 opened #209 "js extension not added to lib/*.js"
The current version does not have the .js added to import statments in lib.*.js compiled files
I think this is because the TS compiler return an error :

[code]

So the next command in the makefile (sed) is not called. I've fixed this error and then sed has been call successfully.

Anthony.

[2020-10-02 21:37] atoy40 commented on #207
Sure you can ... combining hooks is the best way to create new hooks.

Anthony.

[2020-10-03 18:50] matthewp commented on #207
Yep, the Hook class is only for low levels hooks.

[2020-10-03 18:50] #207 closed

[2020-10-03 18:50] #195 closed

[2020-10-09 01:22] matthewp commented on #209
Can you send a PR?

[2020-10-09 01:23] matthewp commented on #201
Hey, I'd be happy to move away from the ugly see stuff and Makefile if anyone can come up with a better way of doing this. Thanks!

[2020-10-09 01:24] matthewp commented on #200
Going to close

[2020-10-09 01:24] #200 closed

[2020-10-27 14:12] sopretty opened #211 "[question"

[2020-10-28 16:55] matthewp commented on #211
Seems like a mistake issue.

[2020-10-28 16:55] #211 closed

[2020-10-28 16:57] sopretty commented on #211
Hey ! Yep, my bad..

[2020-10-29 12:55] cristinecula opened #212 "Skipped effects in nested components"
We at @neovici have been using haunted for a couple of months now and we keep running into a very elusive bug, where sometimes effects are skipped, even if the dependencies have changed. Yesterday I was able to isolate the issue and I have managed to consistently reproduce the bug.

You can find an example and explanation here: https://webcomponents.dev/edit/wTQZEc7FjFC68GZ6ERUf

The bug is caused

[2020-10-29 20:37] #212 closed

[2020-11-24 07:37] LarsDenBakker opened #217 "Hot module replacement"
Hi there! At open-wc we started working on hot module replacement with es module workflows: https://open-wc.org/docs/development/hot-module-replacement/

So far it works for class based components. We're now looking into how we can support this for function based components.

The idea is that the web component base class implements a static and/or instance `hotReplaceCallback` function which does

[2020-11-30 21:22] matthewp commented on #217
Hey Lars, thanks for starting the discussion. Is there a reason why you can't do something like this?

[code]

ie, wrap the class that component() creates?

[2020-12-23 00:32] micahjon commented on #201
Sounds good, I'll see if I can get it all building using just `rollup` and npm scripts.

Also, @matthewp , would it be possible to update line 60 in `src/use-context.ts` so it doesn't confuse the Typescript compiler? Is there a case when `unsubscribe` can be falsy?

[2020-12-23 01:04] matthewp commented on #201
Not that I can think of, sounds like a good change!

[2020-12-23 22:14] LarsDenBakker commented on #217
@matthewp I did some rework, and indeed that's how it works now.

I got it working now for Haunted using a small patch: https://github.com/open-wc/open-wc/blob/master/packages/dev-server-hmr/src/presets/haunted.js#L3

Ideally I would like to patch the `hotReplacedCallback` onto some base class, would it possible to expose this from within Haunted? I could patch it onto each haunted component indiv

[2020-12-28 01:05] ianldgs commented on #40
Issue is closed 🚀

[2020-12-29 11:55] matthewp commented on #217
Not sure I follow, what change are you suggesting?

Yeah that's fine, but the scheduler is a privatish field at the moment. We should probably make it public if library are going to depend on it.

[2020-12-30 05:47] stevvens opened #219 "Webpack usage: index.js removal intentional?"
I'm not certain what's going on with the `Makefile` changes here: https://github.com/matthewp/haunted/commit/797db327771be50f651bcd65623a17784e10c604

The docs imply this file should still be around, or is there another way recommended to use this with webpack? The last working tag is 4.4.0

[2020-12-30 11:53] ianldgs opened #220 "Can't useRef to get reference to DOM element"
Example:

[code]

Current behaviour:

Expected behaviour:

Based on [this answer](https://github.com/matthewp/haunted/issues/65#issuecomment-503645563) I have found a way to make it work. Tested with `virtual` components! (which seems to be the most difficult part, so normal `component` should be fine).

Would you accept a PR to address this?

[2021-01-04 10:38] christophediprima commented on #177
Anything new about that?

[2021-01-04 17:02] Eddi-S opened #221 "Propblems with creating lit-html, haunted project with typescript"
Hi I am probably missing something but cannot figure out what.
I am trying to create a lit-html, haunted project with typescript.

I have created this simple component which takes one property as input:
[code]

But I get this message:

`Argument of type '({ test }: { test: boolean; }) => TemplateResult' is not assignable to parameter of type 'Renderer<HTMLElement>'.
  Types of parameters '__0' and

[2021-01-04 19:22] micahjon commented on #201
Dug deeper into the falsy `unsubscribe` issue. Turns out that when a context consumer is used *without* a provider...

[code]

then neither the `unsubscribe` nor `value` properties are defined on `detail`, so both variables are `undefined`.

https://github.com/matthewp/haunted/blob/09cef7c19ec3e93fde31538f95eda5ae54940d37/src/use-context.ts#L58

I can fix the TypeScript warning by making the `unsu

[2021-01-10 02:18] stevvens commented on #221
You can try this:

[code]

I'm not sure if this is the canonical answer, as it seems like the parameters ought to be inferable as in this helper:

[code]

[2021-01-10 02:44] stevvens commented on #219
Removing `type: "module"` from package.json makes it work

[2021-01-10 03:01] stevvens commented on #219
Likely just a dupe of https://github.com/matthewp/haunted/issues/209

[2021-01-10 03:01] #219 closed

[2021-01-10 18:45] Eddi-S commented on #221
Thanks @stevvens - that did it! I think it could be helpful with either some examples with haunted in typescript or some documentation for haunted in typescript.

[2021-01-10 18:45] #221 closed

[2021-01-12 08:26] CKGrafico commented on #168
Same to me, not working in IE11

[2021-01-17 08:31] bennypowers opened #222 "export `StateUpdater` and other utility types"
consider:
[code]

In cases like these it would be nice to just

[code]

[2021-01-19 09:21] RoXuS commented on #177
[code]
OR
[code]

[2021-01-31 12:39] matthewp commented on #168
I'd accept a PR that conditionally adds that proxy trap only in supported browsers.

[2021-02-01 09:55] CKGrafico commented on #168
Yes sounds good, but can you confirm that this is a bug, and your readme is not ok? becuase maybe everything works to you and there is another problem.

[2021-02-01 18:54] micahjon commented on #201
@matthewp , just created a PR for this type issue. Should make it possible to compile from source w/out impacting any runtime behavior. Thanks for considering!
https://github.com/matthewp/haunted/pull/223

[2021-02-01 19:49] micahjon commented on #192
Did some more digging into this issue. For `useState` and attributes, this is already working perfectly, e.g.

[code]
[Link to component.ts:L78](https://github.com/matthewp/haunted/blob/09cef7c19ec3e93fde31538f95eda5ae54940d37/src/component.ts#L78)

But for properties (`reflectiveProp`) we always trigger an update, even if the property value didn't change. This is necessary for the first update, b

[2021-02-01 21:22] matthewp commented on #192
I think this sounds fine! Thanks!

[2021-02-01 21:57] CKGrafico commented on #168
FYI: as a temp fix you can comment `getPrototypeOf`  from the lib and your project will work

[2021-02-01 23:53] micahjon commented on #192
Cool, just submitted a PR!

[2021-02-02 13:33] matthewp commented on #168
Not sure what you mean. This project has never officially supported IE11. Some contributors discovered a way to get it to work and they documented it via the readme. I'm willing to make small changes such as this one to get it to continue to work but if it comes to the point where we have to dramatically do things differently to support IE11 then we'll just drop support.

[2021-02-02 13:46] CKGrafico commented on #168
For sure :) the only change right now is the `getPrototypeOf` you'll need to decide if is enough important or not

[2021-02-06 13:59] nirbG opened #225 "Someone already tried to create a Higher Order Component with haunted"
Hey guys, someone already tried to create a Higher Order Component with haunted? can you share with me some example, pls

[2021-02-17 22:40] micahjon commented on #192
@matthewp , don't mean to bug you, but wondered if you'd had a chance to look at my PR. It passes all existing tests and I added a new test to verify that it behaves as expected. Thanks!

[2021-02-25 18:59] micahjon opened #229 "How to best add properties"
We've been using haunted in production for months now and overall it's been working really well.

Lately, as I've been migrating more components, I've run into two paint points regarding custom properties and methods. Take this sample component:
[code]

## Storing state without re-render

For this component, I needed to store a list of prior buttons, so I could animate the transition when buttons

[2021-02-25 19:29] loganvolkers commented on #130
There is an option that provides the best of both **Factory** and **Dependency Injection** would be using a default parameter value.

- [x] Can be used without a bundler
- [x] Can be used with a bundler

**create-my-hook.js:**
[code]

**my-hook-react.js:**
[code]

**my-hook-haunted.js:**
[code]

[2021-02-25 21:04] micahjon commented on #229
Just realized if I set a property that starts with an underscore (e.g. `_priorButtons`), it doesn't trigger a re-render.

That's great b/c underscored properties are understood to be private. It'd be great if this was in the docs.

[2021-03-22 16:05] nirbG commented on #225
I might find a solution,
[code]
it works well, I get the right props, but now "this" is undefined in my component

[2021-03-23 14:50] matthewp commented on #225
props is itself the element. You can do `return WrappedComponent.call(newProps, newProps)` and it should have the correct `this`.

[2021-03-23 15:08] nirbG commented on #225
where the "call" function come from?

[2021-03-23 15:14] matthewp commented on #225
All functions have a `.call`. It only works of the WrapperComponent is defined like `function WrapperComponent()` and not `const WrapperComponent  = () =>`.

[2021-03-23 15:14] matthewp commented on #225
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/call

[2021-03-23 17:46] matthewp commented on #192
So sorry for missing this, checking it out now.

[2021-03-24 12:35] #192 closed

[2021-03-31 21:47] #229 closed

[2021-04-06 16:59] micahjon commented on #192
@matthewp , could we do a new release for this, or are you hoping to include some other bugfixes as well?

[2021-04-22 17:26] fwermus opened #233 "button does not work in a vaading-grid"
I am trying to add a button in each row inside a grid, but I could not get onclick working. Any help would be appreciated

[code]

[2021-04-22 17:47] loganvolkers commented on #130
@justinfagnani and @matthewp we have released a library based on my proposal above called `universal-hooks` with the goal of providing a central API across hook implementations. Implementations can be swapped at runtime or build time.

 1) `@saasquatch/universal-hooks` provides an interface which haunted and React can plug into. Write your hooks for the interface and the implementation can be swap

[2021-05-03 10:26] bennypowers opened #236 "type of useState should infer if the argument is a function"
Problem:

Given:

[code]

What is the type of `host`? With current typings:

[code]

Desired:

[code]

## Solution

declaration should change.

Current:

[code]

Desired:

[code]

[2021-05-04 12:14] bennypowers opened #237 "useController 🔥 ⚡️"
With lit 2 out in RC, howzabout we implement `useController` in haunted?

I've got a working prototype at https://github.com/apollo-elements/apollo-elements/blob/a94dc32e68e89ea810ae067b7b20ac0427854ae8/packages/haunted/useController.ts based on lit-labs' react implementation

Worth a PR?

[2021-05-04 12:51] matthewp commented on #237
Thanks @bennypowers this looks interesting! Do you have an example of what this would look like as a user?

[2021-05-04 12:57] bennypowers commented on #237
Yeah sure, so

Call site where `ApolloQueryController` is a lit reactive controller: https://github.com/apollo-elements/apollo-elements/blob/a94dc32e68e89ea810ae067b7b20ac0427854ae8/packages/haunted/useQuery.ts

End user call site for the derived hook: https://github.com/apollo-elements/apollo-elements/blob/a94dc32e68e89ea810ae067b7b20ac0427854ae8/packages/haunted/useQuery.test.ts#L48

[2021-05-04 13:02] matthewp commented on #237
Ah ok, I think I get it. Any idea what affect this would have on the bundle size?

[2021-05-04 15:55] bennypowers commented on #237
The only dependencies asides from `tslib` are local (`useState` and `useEffect`)

With `"importHelpers": true` (i.e. `"dependencies": "tslib"`), the `useController.js` is 4.2kb, compiled

We could avoid the `tslib` dep by `s/#/private _/g`

[2021-05-04 16:59] matthewp commented on #237
Hm, not sure I'm understanding, aren't you suggesting bringing in useController into core or no? That depends on `@lit/reactive-element`. I don't se `tslib` as a dependency.

[2021-05-04 17:11] bennypowers commented on #237
ReactiveElement is only a devDep, since it's just an interface, so the *only* code added to the bundle are the files in the pr

[2021-05-04 18:31] bennypowers opened #240 "Jazz up the build system"
This issue proposes to:

1. update typescript to latest (4.2 or 4.3 depending on when impl happens)
2. replace mocha-chrome-headless with `@web/test-runner`
  2.1. use `esbuildPlugin` in wtr to run tests buildless and concurrently from ts sources
  2.2. add `"test"` npm script to run wtr
3. add `@web/dev-server` to run the examples dir (maybe with `npm start`)
4. replace `make` with rollup

[2021-05-04 19:31] #237 closed

[2021-05-04 19:31] #236 closed

[2021-05-04 20:16] matthewp commented on #240
All sound good to me!

[2021-05-12 14:38] windmaomao opened #245 "question on suspense"
this is an awesome library.

and i just have a question, how does `suspense` fit into this picture ? I know `React` team might take it to very wild implementation. But IMHO, isn't hook going to at least help on this problem.

[code]

Of course, somehow `createSuspense` might have to be included in the parent, because this `hook` needs to communicate with the parent. Ok, we can have `<Suspense ...

[2021-05-12 21:54] windmaomao opened #246 "useContext el.update twice?"
just curious if this is true when consumer component is displayed, it'll render twice ?

The reason i'm having this question is that by reading

[code]

I wonder if `call` is called after the update, and then inside there's a second `el.update`. It's all making sense except i wonder if this is the case why it's not done inside the `constructor`. Because I would think i want to get the `value` reso

[2021-05-21 22:32] johanventer opened #248 "4.8.0 broke builds"
The feature addition in #239 has broken builds for anyone who doesn't have `@lit/reactive-element` installed, as it was only added to `devDependencies`, so it is not installed when you `npm i haunted`.

Looks like it was released in the minor update from 4.7.1 -> 4.8.0. Our packages that rely on haunted and had `^4.7.1` as the dependency version no longer build, as installing dependencies now inst

[2021-05-23 11:08] bennypowers commented on #248
We could solve this with a `peerDependency` perhaps. can you workaround with `skipLibCheck` for now?

[2021-05-23 15:05] matthewp commented on #248
Why a peerDependency and not a normal one? If the code depends on it, we should in the code I think.

[2021-05-23 15:50] bennypowers commented on #248
real dep works too. newer yarn and npm will install peerDeps automatically

[2021-06-07 14:43] pyros2097 commented on #217
@LarsDenBakker Don't know if you are still looking into it. This is how I got esm hmr working in my system.
[code]

[2021-06-07 18:46] #248 closed

[2021-06-07 18:49] matthewp commented on #248
Should be fixed in 4.8.1

[2021-06-10 17:18] micahjon commented on #201
Most of these issues are resolved, closing for now.

[2021-06-10 17:18] #201 closed

[2021-06-16 16:19] matthewp commented on #245
There's no concept of Suspense in Haunted. I think it's very unlikely we'll ever add it for similar reasons as to why Preact isn't doing so.

[2021-06-16 23:09] nlundquist commented on #245
I believe that Suspense functionality becoming stable in Preact 11 https://github.com/preactjs/preact/issues/2915

@windmaomao I have used Contexts to implement Suspense-like behavior in a Haunted app before. The implementation could be generalized and improved though. Might be some inspiration:
https://github.com/nre-learning/antidote-web/blob/master/templates/labs/index.html
https://github.com/n

[2021-07-07 06:47] amant opened #257 "Is Haunted compatible with lit-html v2?"
Hey,
The code at the bottom with lit-html v2.
All it renders is `[object Object]` instead of the component.

Compare to lit-html v1, the object return from html`` seems to have changed a bit.
https://github.com/lit/lit/blob/main/packages/lit-html/src/lit-html.ts#L276

Could that be causing the issue with rendering?
Maybe I am doing wrong in the code?

[code]

[2021-07-07 08:59] bennypowers commented on #257
AFAIK, you can use latest lit-html 1 and 2 together on the same page, *but* you can't compose them together

so it could be that what you're seeing here is haunted internally using lit 1 and you're passing it an incompatible template.

Whereas this might work:

[code]

[2021-07-07 16:08] matthewp commented on #257
Do we know when Lit will be out? I'd like to get Haunted on that soon so there's less confusion around this.

[2021-07-07 16:11] matthewp commented on #257
Also it's just Haunted, no .js 😀

[2021-07-11 18:44] amant commented on #257
Not sure, when it will be released. Didn't find any roadmap.
Judging from the Lit team's release pattern, I guess it's safe to bet it would be 4th Quarter 2021 :P

[2021-07-11 18:52] amant commented on #257
Woohooo this works, need to pass down `render` from lit-html-v2.

[code]

[2021-07-11 18:53] #257 closed

[2021-07-11 18:57] bennypowers commented on #257
@amant would you consider a docs pr to the README file?

[2021-07-11 19:08] amant commented on #257
@bennypowers Sure thing will do :)

[2021-07-12 11:34] matthewp commented on #257
Is this feature not documented already? https://github.com/matthewp/haunted#lighterhtml-etc

Might be worth mentioning there that this can be used for providing your own version of lit-html too.

[2021-07-13 11:10] bennypowers commented on #64
Hey so i put together a site check out #258

[2021-07-13 11:35] #64 closed

[2021-07-13 12:34] matthewp opened #261 "Sync rendering"
For SSR we need the ability to render synchronously. For now I think I'm just going to do some environment check and use a sync renderer in Node/Deno. Let me know if anyone can think of a better way.

[2021-07-15 07:49] bennypowers opened #264 "useHost"
[atomico](https://atomico.gitbook.io/doc/api/hooks/usehost) offers a `useHost` hook to get a reference to the host element. This could be a solid pick-up for haunted

[code]

I'm not yet familiar enough with 👻 's guts to say how much faff will be involved in implementing `useHost`

[2021-07-15 13:26] matthewp commented on #264
The host (the element) is passed as the first arg, does useHost do anything different?

[2021-07-16 15:28] NathanDeveloping opened #272 "4.8.2 breaks build"
![image](https://user-images.githubusercontent.com/18258326/125971830-d7c58721-1a43-4190-958a-84ef6fd8f7d1.png)

Tried in a React app with some wrapper on Haunted webcomponents. It's working fine with 4.8.1.

[2021-07-19 11:50] bennypowers commented on #264
Yeah first args is good for my cases.

I wonder if it's good to implement some useHost just for the api saminess? Don't have very strong opinions about this

[2021-07-19 18:57] fwermus opened #277 "polymer cli + haunted => classProperties"
warn:   js-transform: Unable to optimize /xxx/node_modules/haunted/lib/virtual.js
{
  err: 'This experimental syntax requires enabling ' +
    "the parser plugin: 'classProperties' (8:12)"
}

[2021-07-19 18:58] fwermus commented on #277
I cant build with polymer with haunted

[2021-07-20 09:58] bennypowers commented on #277
try adding https://babeljs.io/docs/en/babel-plugin-proposal-class-properties#docsNav to your babelrc

[2021-09-17 20:21] nemethmik opened #305 "Question: Attribute/property intellisense support for haunted functional components when editing html template literals?"
Greetings to this great team from a new fan!
Is there any tool like [lit-plugin by Rune Mehlsen](https://marketplace.visualstudio.com/items?itemName=runem.lit-plugin) supporting code completion and type checking attributes/properties of haunted (function) components when editing html template literals in Visual Studio Code?
lit-plugin supports fine the basic html template text, but it cannot decip

[2021-09-21 06:33] micahjon opened #306 "Demo in docs broken"
Just a heads up that with lit v2 released, the `html` import in the docs is no longer compatible with Haunted.

The https://unpkg.com/lit-html/lit-html.js import now resolves to https://unpkg.com/lit-html@2.0.0/lit-html.js

Ideally Haunted would play nice w/ lit v2, but in the interim, this is easily fixed by just importing `html` from haunted:

[code]

BTW, the lit v2 build does work. For instanc

[2021-09-21 19:18] joryphillips commented on #306
Hi, new here, and love this library's API!

I noticed that following the instructions in PR https://github.com/matthewp/haunted/pull/274/commits/0856b9194637b63ec01e35c677825b25aca88433 also fixes issues with Lit 2 and allows use of the new hotness.

in summary
[code]

then
[code]

[2021-09-25 21:39] nemethmik commented on #306
It would be great to have a Haunted version that would work with Lit 2.0 out of the box. Currently Haunted cannot be used with component libraries like SAP UI5 Web Components, Shoelace, Vaadin Fusion.

[2021-09-26 09:31] bennypowers commented on #306
proximal fix: pin the import urls in the docs
better fix: just cut a haunted release for lit 2

I'm partial to the second, @matthewp

[2021-09-29 01:06] joryphillips commented on #177
I might have some semi-decent answers here (maybe).

First, to address the original **custom event** issue -- I don't see a need to pass in a context. `this` should simply refer to the Element that is created by List (assuming this is a custom element). I recreated the above scenario and `this` worked just fine and appropriately referred to the element that fired the custom event. It was heard by

[2021-09-29 12:56] matthewp commented on #306
Yep, I'm in favor of getting lit 2 upgrade done as well!

[2021-09-29 16:43] joryphillips commented on #177
Follow-up: I didn't have `"strict": true` on in my tsconfig 🤦 _and I now see why passing the context in is necessary_ 🤦

I solved by passing in `this: unknown`, which is what `GenericRenderer` expects, then casting `this` to `HTMLElement` in the places I needed it.

So in the original question it would be:

[code]

[2021-09-29 18:20] bennypowers opened #311 "`component()` should accept function with a generic `this` binding that extends HTMLElement"
I think absolutely true. I'd like to work on that next, then update the docs to remove, if successful?

_Originally posted by @joryphillips in https://github.com/matthewp/haunted/issues/310#issuecomment-930420169_

[2021-09-29 22:35] joryphillips commented on #240
Hi @bennypowers are you working on 2) in your list above -- new test library? Or is someone else?

Looking at fixing up some of the TypeScript nuances, including the component() HTMLElement issue , I think updating test files to TS would be a good thing to do first. I'm happy to work on that, or pick up anything you have in progress.

[2021-09-30 10:30] bennypowers commented on #240
Go for it. ping me here or on "Lit & Friends" slack if you need help

[2021-10-04 23:09] joryphillips commented on #240
@bennypowers (and @matthewp -- would love your input too if you have time!)

How does this initial direction for TypeScript tests look? As mentioned to Benny on Slack, trying for a light touch initially. (Although I did add a test for attributes being undefined when not present to highlight the issue -- it was unexpected)

- [attributes test file](https://github.com/joryphillips/haunted/commit/061

[2021-10-05 15:42] bennypowers commented on #240
Looks really good, and it was so considerate of you to prepare your comment with those easy-to-understand links, thank you!

[2021-10-05 16:22] matthewp commented on #240
Looks great to me

[2021-11-18 22:49] micahjon opened #335 "How to annotate return type of custom Haunted hook?"
Are there any guides on writing a custom Haunted hook and specifying types for the return value?

I've written a handful of custom hooks but can't get a return types to actually autocomplete in my IDE the same way that they do for the default Haunted hooks.

[2021-11-29 14:14] rlweb opened #336 "Upgrading haunted to v2 of lit"
dependabot is already there :D https://github.com/matthewp/haunted/pull/330

Just raising this as we're looking to upgrade, if I get some time later in the week I'll take a look!

[2021-12-10 01:06] micahjon opened #337 "Virtual Components can't be conditionally rendered in same part of template"
Today I was building a menu with virtual components and found a bug illustrated in this codepen:
https://codepen.io/pranksinatra/pen/KKXgKPp

It is possible to render multiple virtual components within the same template, but it is not possible to conditionally render them in the same part of the template.

[code]

Thanks again for supporting this library! If it'd be helpful for me to do a deep div

[2021-12-22 15:09] barryf001 opened #341 "LitHauntedElement: No re-render observed when incoming prop changed"
Hi,

Relates to LitElementHaunted usage.

Could you explain why when a state variable is passed to a child component (as per example code) there is no re-rendering of the child component? Maybe I'm using this incorrectly but this seems the most intutive usage..

[code]

[2021-12-22 17:11] barryf001 opened #342 "question on potential Redux hooks"
Hi,

I'd like to ask the question of whether the development has been considered for an implementation of redux hooks (similar to what is provided by react-redux).

We utilise redux as our app store and have seen a new functionality that we would like to integrate into our lit-element application. If these hooks had some sort of adapter/port we may be able to progress this idea.

The specific hook

[2022-01-13 14:20] bennypowers opened #350 "Use Changesets"
- Add changesets to the build process
- Use GitHub actions to automate release
- Replace the makefile with npm scripts

[2022-01-13 14:21] bennypowers opened #351 "Consider replacing State and Hook classes with ReactiveController[Host]"
It should be possible to replace the `State` class with and implementation of `ReactiveControllerHost` and the `Hook` class with and implementation of `ReactiveController`. We should investigate how easy that would be, if it would involve breaking changes, and how much code we could remove

[2022-01-14 11:54] matthewp commented on #341
What is LitHauntedElement and how does it differ from `component`?

[2022-01-14 14:37] barryf001 commented on #341
From the examples for integration with LitElement
https://github.com/matthewp/haunted/blob/main/examples/lit/lit-haunted-element.js

[2022-01-17 09:54] bennypowers commented on #341
what do you mean by "state variable is passed to a child component"?

do you mean `$("my-counter").count = 3`? in that case, `count` hasn't been defined on the class as an observed property, so LitElement's lifecycle won't pick up changes.

[2022-03-03 15:59] Eddi-S opened #367 "Problem with Haunted 4.8.3 and babel loader"
Hi I have a NPM package that uses Haunted and LIT-Html 1.4.1, which I then import into a react project.
But after updating haunted to 4.8.3 from 4.8.1 I get this error in the react project:
![image](https://user-images.githubusercontent.com/65396539/156600283-0c0bae6a-8ec0-4374-a5cb-0b6a1bfe98c0.png)
I think it could be solved by configuring babel but I am not sure, does any of you know?

[2022-03-04 02:31] bennypowers commented on #367
class fields

[2022-03-09 11:21] BeefOnWeck commented on #336
Any update on this?  Are there any hard blockers upgrading to lit v2?

[2022-03-09 13:09] matthewp commented on #336
Nothing blocking other than time/desire to do the work. Was started here: https://github.com/matthewp/haunted/pull/309. Contributions very welcome.

[2022-03-15 10:30] BeefOnWeck commented on #336
Hi @matthewp, I submitted a PR.

[2022-04-17 01:58] chadams opened #379 "styling example"
an example of styling a component is missing from the docs, How would one go about adding styles to the shadowDom?

[2022-05-03 05:25] megheaiulian opened #384 "Context without shadow root"
When creating a Context it is useful to opt out of using shadow DOM for the Consumer and Provider components.
To allow that `createContext` could pass thru the second argument of `component`.
Note: Shadow DOM is kind of useless for the `Provider` component. It makes more sense for the `Consumer`.

[2022-05-03 09:32] bennypowers commented on #384
A card component could provide a 'color-theme' context to it's children, but also have it's own shadow DOM

[2022-05-18 14:09] matthewp commented on #367
I've enabled Discussions. Good place for support sort of questions. https://github.com/matthewp/haunted/discussions

[2022-05-18 14:09] #367 closed

[2022-05-18 14:10] matthewp commented on #350
I can probably take this. I'll have to reach back in time to remember what the makefile is doing, but it's overdue!

[2022-05-18 14:13] matthewp commented on #272
This should be fixed now, let me know if not!

[2022-05-18 14:14] matthewp commented on #264
I sort of think not, it's added code that doesn't really do anything. I'd rather keep it as is.

[2022-05-18 14:24] #264 closed

[2022-05-18 15:38] #350 closed

[2022-05-18 15:52] matthewp commented on #306
This was done.

[2022-05-18 15:52] #306 closed

[2022-05-19 09:59] BeefOnWeck commented on #337
I think this issue can be closed since it was resolved in #369.

[2022-05-19 12:26] #337 closed

[2022-06-02 22:50] superchris opened #404 "Demos failing on SyntaxError in haunted.js from unpkg"
Attempting to run demo which does this:
[code]

Browser console:

[code]

[2022-06-08 12:44] megheaiulian opened #407 "Notify RootPart of disconnect when disconnecting component"
When a component rendered with `lit-html` is disconnected we should notify the template's RootPart of the disconnect so that
its async directives get disconnected too.
On disconnect we could call  `removePart` (https://github.com/lit/lit/blob/main/packages/lit-html/src/directive-helpers.ts#L216).